# Introducción a SQL con Pandas

### Setup

Primero importamos la librería Pandas y SQLite

In [1]:
import pandas as pd
import sqlite3 as sql

Ahora leemos la información de graduados de universidades desde el github de fivethirtyeight de Nate Silver

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/recent-grads.csv")
df.head()

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 21 columns):
Rank                    173 non-null int64
Major_code              173 non-null int64
Major                   173 non-null object
Total                   172 non-null float64
Men                     172 non-null float64
Women                   172 non-null float64
Major_category          173 non-null object
ShareWomen              172 non-null float64
Sample_size             173 non-null int64
Employed                173 non-null int64
Full_time               173 non-null int64
Part_time               173 non-null int64
Full_time_year_round    173 non-null int64
Unemployed              173 non-null int64
Unemployment_rate       173 non-null float64
Median                  173 non-null int64
P25th                   173 non-null int64
P75th                   173 non-null int64
College_jobs            173 non-null int64
Non_college_jobs        173 non-null int64
Low_wage_jobs           173 non-null int64
dtypes: float64(5), int64(14), object(2)
memory usage: 28.5+ KB

Ahora crearemos nuestra base de datos a partir del DataFrame que acabamos de descargar, primero establecemos la conexión a nuestra base de datos

In [4]:
con = sql.connect("clase3.db")

y generamos un cursor que nos ayude a manipular esta base de datos con SQL

In [5]:
cur = con.cursor()

El siguiente paso es convertir nuestro DataFrame en una tabla de la base de datos

In [6]:
df.to_sql?

In [8]:
df.to_sql('recent_grads',con)

Ahora podemos ejecutar sentencias SQL de dos formas, directo de la base de datos con cur.execute

In [9]:
cur.execute('''
SELECT * FROM recent_grads;
''')

In [10]:
cur.fetchall() # Nos muestra todos los resultados de nuestra Query

[(0,
  1,
  2419,
  'PETROLEUM ENGINEERING',
  2339.0,
  2057.0,
  282.0,
  'Engineering',
  0.120564344,
  36,
  1976,
  1849,
  270,
  1207,
  37,
  0.018380527,
  110000,
  95000,
  125000,
  1534,
  364,
  193),
 (1,
  2,
  2416,
  'MINING AND MINERAL ENGINEERING',
  756.0,
  679.0,
  77.0,
  'Engineering',
  0.10185185199999999,
  7,
  640,
  556,
  170,
  388,
  85,
  0.117241379,
  75000,
  55000,
  90000,
  350,
  257,
  50),
 (2,
  3,
  2415,
  'METALLURGICAL ENGINEERING',
  856.0,
  725.0,
  131.0,
  'Engineering',
  0.153037383,
  3,
  648,
  558,
  133,
  340,
  16,
  0.024096386,
  73000,
  50000,
  105000,
  456,
  176,
  0),
 (3,
  4,
  2417,
  'NAVAL ARCHITECTURE AND MARINE ENGINEERING',
  1258.0,
  1123.0,
  135.0,
  'Engineering',
  0.107313196,
  16,
  758,
  1069,
  150,
  692,
  40,
  0.050125313,
  70000,
  43000,
  80000,
  529,
  102,
  0),
 (4,
  5,
  2405,
  'CHEMICAL ENGINEERING',
  32260.0,
  21239.0,
  11021.0,
  'Engineering',
  0.341630502,
  289,
  25694,
  23170,
  5180,
  16697,
  1672,
  0.061097712,
  65000,
  50000,
  75000,
  18314,
  4440,
  972),
 (5,
  6,
  2418,
  'NUCLEAR ENGINEERING',
  2573.0,
  2200.0,
  373.0,
  'Engineering',
  0.144966965,
  17,
  1857,
  2038,
  264,
  1449,
  400,
  0.177226407,
  65000,
  50000,
  102000,
  1142,
  657,
  244),
 (6,
  7,
  6202,
  'ACTUARIAL SCIENCE',
  3777.0,
  2110.0,
  1667.0,
  'Business',
  0.44135557299999995,
  51,
  2912,
  2924,
  296,
  2482,
  308,
  0.095652174,
  62000,
  53000,
  72000,
  1768,
  314,
  259),
 (7,
  8,
  5001,
  'ASTRONOMY AND ASTROPHYSICS',
  1792.0,
  832.0,
  960.0,
  'Physical Sciences',
  0.535714286,
  10,
  1526,
  1085,
  553,
  827,
  33,
  0.021167415,
  62000,
  31500,
  109000,
  972,
  500,
  220),
 (8,
  9,
  2414,
  'MECHANICAL ENGINEERING',
  91227.0,
  80320.0,
  10907.0,
  'Engineering',
  0.11955890300000001,
  1029,
  76442,
  71298,
  13101,
  54639,
  4650,
  0.057342277999999997,
  60000,
  48000,
  70000,
  52844,
  16384,
  3253),
 (9,
  10,
  2408,
  'ELECTRICAL ENGINEERING',
  81527.0,
  65511.0,
  16016.0,
  'Engineering',
  0.19645025600000002,
  631,
  61928,
  55450,
  12695,
  41413,
  3895,
  0.059173845,
  60000,
  45000,
  72000,
  45829,
  10874,
  3170),
 (10,
  11,
  2407,
  'COMPUTER ENGINEERING',
  41542.0,
  33258.0,
  8284.0,
  'Engineering',
  0.199412643,
  399,
  32506,
  30315,
  5146,
  23621,
  2275,
  0.065409275,
  60000,
  45000,
  75000,
  23694,
  5721,
  980),
 (11,
  12,
  2401,
  'AEROSPACE ENGINEERING',
  15058.0,
  12953.0,
  2105.0,
  'Engineering',
  0.139792801,
  147,
  11391,
  11106,
  2724,
  8790,
  794,
  0.065162085,
  60000,
  42000,
  70000,
  8184,
  2425,
  372),
 (12,
  13,
  2404,
  'BIOMEDICAL ENGINEERING',
  14955.0,
  8407.0,
  6548.0,
  'Engineering',
  0.437846874,
  79,
  10047,
  9017,
  2694,
  5986,
  1019,
  0.09208386,
  60000,
  36000,
  70000,
  6439,
  2471,
  789),
 (13,
  14,
  5008,
  'MATERIALS SCIENCE',
  4279.0,
  2949.0,
  1330.0,
  'Engineering',
  0.310820285,
  22,
  3307,
  2751,
  878,
  1967,
  78,
  0.023042836,
  60000,
  39000,
  65000,
  2626,
  391,
  81),
 (14,
  15,
  2409,
  'ENGINEERING MECHANICS PHYSICS AND SCIENCE',
  4321.0,
  3526.0,
  795.0,
  'Engineering',
  0.183985189,
  30,
  3608,
  2999,
  811,
  2004,
  23,
  0.006334343,
  58000,
  25000,
  74000,
  2439,
  947,
  263),
 (15,
  16,
  2402,
  'BIOLOGICAL ENGINEERING',
  8925.0,
  6062.0,
  2863.0,
  'Engineering',
  0.32078431399999996,
  55,
  6170,
  5455,
  1983,
  3413,
  589,
  0.087143069,
  57100,
  40000,
  76000,
  3603,
  1595,
  524),
 (16,
  17,
  2412,
  'INDUSTRIAL AND MANUFACTURING ENGINEERING',
  18968.0,
  12453.0,
  6515.0,
  'Engineering',
  0.34347321799999997,
  183,
  15604,
  14879,
  2243,
  11326,
  699,
  0.042875544,
  57000,
  37900,
  67000,
  8306,
  3235,
  640),
 (17,
  18,
  2400,
  'GENERAL ENGINEERING',
  61152.0,
  45683.0,
  15469.0,
  'Engineering',
  0.252959838,
  425,
  44931,
  41235,
  7199,
  33540,
  2859,
  0.059824231,
  56000,
  36000,
  69000,
  26898,
  11734,
  3192),
 (18,
  19,
  2403,
  'ARCHITECTURAL ENGINEERING',
  2825.0,
  1835.0,
  990.0,
  'Engineering',
  0.35044247799999995,
  26,
  2575,
  2277,
  343,
  1848,
  170,
  0.061930782999999996,
  54000,
  38000,
  65000,
  1665,
  649,
  137),
 (19,
  20,
  3201,
  'COURT REPORTING',
  1148.0,
  877.0,
  271.0,
  'Law & Public Policy',
  0.236062718,
  14,
  930,
  808,
  223,
  808,
  11,
  0.011689692,
  54000,
  50000,
  54000,
  402,
  528,
  144),
 (20,
  21,
  2102,
  'COMPUTER SCIENCE',
  128319.0,
  99743.0,
  28576.0,
  'Computers & Mathematics',
  0.222695002,
  1196,
  102087,
  91485,
  18726,
  70932,
  6884,
  0.063172771,
  53000,
  39000,
  70000,
  68622,
  25667,
  5144),
 (21,
  22,
  1104,
  'FOOD SCIENCE',
  None,
  None,
  None,
  'Agriculture & Natural Resources',
  None,
  36,
  3149,
  2558,
  1121,
  1735,
  338,
  0.09693146,
  53000,
  32000,
  70000,
  1183,
  1274,
  485),
 (22,
  23,
  2502,
  'ELECTRICAL ENGINEERING TECHNOLOGY',
  11565.0,
  8181.0,
  3384.0,
  'Engineering',
  0.292607004,
  97,
  8587,
  7530,
  1873,
  5681,
  824,
  0.087557114,
  52000,
  35000,
  60000,
  5126,
  2686,
  696),
 (23,
  24,
  2413,
  'MATERIALS ENGINEERING AND MATERIALS SCIENCE',
  2993.0,
  2020.0,
  973.0,
  'Engineering',
  0.325091881,
  22,
  2449,
  1658,
  1040,
  1151,
  70,
  0.027788805,
  52000,
  35000,
  62000,
  1911,
  305,
  70),
 (24,
  25,
  6212,
  'MANAGEMENT INFORMATION SYSTEMS AND STATISTICS',
  18713.0,
  13496.0,
  5217.0,
  'Business',
  0.278790146,
  278,
  16413,
  15141,
  2420,
  13017,
  1015,
  0.058239614,
  51000,
  38000,
  60000,
  6342,
  5741,
  708),
 (25,
  26,
  2406,
  'CIVIL ENGINEERING',
  53153.0,
  41081.0,
  12072.0,
  'Engineering',
  0.22711794300000002,
  565,
  43041,
  38302,
  10080,
  29196,
  3270,
  0.07060957400000001,
  50000,
  40000,
  60000,
  28526,
  9356,
  2899),
 (26,
  27,
  5601,
  'CONSTRUCTION SERVICES',
  18498.0,
  16820.0,
  1678.0,
  'Industrial Arts & Consumer Services',
  0.09071250900000001,
  295,
  16318,
  15690,
  1751,
  12313,
  1042,
  0.060023041,
  50000,
  36000,
  60000,
  3275,
  5351,
  703),
 (27,
  28,
  6204,
  'OPERATIONS LOGISTICS AND E-COMMERCE',
  11732.0,
  7921.0,
  3811.0,
  'Business',
  0.32483805,
  156,
  10027,
  9639,
  1183,
  7724,
  504,
  0.047858702999999995,
  50000,
  40000,
  60000,
  1466,
  3629,
  285),
 (28,
  29,
  2499,
  'MISCELLANEOUS ENGINEERING',
  9133.0,
  7398.0,
  1735.0,
  'Engineering',
  0.189970437,
  118,
  7428,
  6811,
  1662,
  5476,
  597,
  0.074392523,
  50000,
  39000,
  65000,
  3445,
  2426,
  365),
 (29,
  30,
  5402,
  'PUBLIC POLICY',
  5978.0,
  2639.0,
  3339.0,
  'Law & Public Policy',
  0.558548009,
  55,
  4547,
  4163,
  1306,
  2776,
  670,
  0.128426299,
  50000,
  35000,
  70000,
  1550,
  1871,
  340),
 (30,
  31,
  2410,
  'ENVIRONMENTAL ENGINEERING',
  4047.0,
  2662.0,
  1385.0,
  'Engineering',
  0.342228811,
  26,
  2983,
  2384,
  930,
  1951,
  308,
  0.093588575,
  50000,
  42000,
  56000,
  2028,
  830,
  260),
 (31,
  32,
  2500,
  'ENGINEERING TECHNOLOGIES',
  3600.0,
  2695.0,
  905.0,
  'Engineering',
  0.251388889,
  39,
  2799,
  2257,
  689,
  1723,
  163,
  0.055030385,
  50000,
  43000,
  60000,
  1017,
  1269,
  142),
 (32,
  33,
  6099,
  'MISCELLANEOUS FINE ARTS',
  3340.0,
  1970.0,
  1370.0,
  'Arts',
  0.41017964100000004,
  30,
  2914,
  2049,
  1067,
  1200,
  286,
  0.089375,
  50000,
  25000,
  66000,
  693,
  1714,
  755),
 (33,
  34,
  2411,
  'GEOLOGICAL AND GEOPHYSICAL ENGINEERING',
  720.0,
  488.0,
  232.0,
  'Engineering',
  0.322222222,
  5,
  604,
  524,
  126,
  396,
  49,
  0.075038285,
  50000,
  42800,
  57000,
  501,
  50,
  49),
 (34,
  35,
  6107,
  'NURSING',
  209394.0,
  21773.0,
  187621.0,
  'Health',
  0.896018988,
  2554,
  180903,
  151191,
  40818,
  122817,
  8497,
  0.04486272400000001,
  48000,
  39000,
  58000,
  151643,
  26146,
  6193),
 (35,
  36,
  6207,
  'FINANCE',
  174506.0,
  115030.0,
  59476.0,
  'Business',
  0.34082495700000004,
  2189,
  145696,
  137921,
  21463,
  108595,
  9413,
  0.060686356,
  47000,
  35000,
  64000,
  24243,
  48447,
  9910),
 (36,
  37,
  5501,
  'ECONOMICS',
  139247.0,
  89749.0,
  49498.0,
  'Social Science',
  0.355469059,
  1322,
  104117,
  96567,
  25325,
  70740,
  11452,
  0.099092317,
  47000,
  35000,
  65000,
  25582,
  37057,
  10653),
 (37,
  38,
  6205,
  'BUSINESS ECONOMICS',
  13302.0,
  7575.0,
  5727.0,
  'Business',
  0.430536761,
  199,
  10914,
  10048,
  1937,
  8000,
  1165,
  0.096448381,
  46000,
  33000,
  58000,
  1578,
  4612,
  1284),
 (38,
  39,
  2503,
  'INDUSTRIAL PRODUCTION TECHNOLOGIES',
  4631.0,
  3477.0,
  1154.0,
  'Engineering',
  0.24919024,
  73,
  4428,
  3988,
  597,
  3242,
  129,
  0.028308097,
  46000,
  35000,
  65000,
  1394,
  2454,
  480),
 (39,
  40,
  5102,
  'NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL TECHNOLOGIES',
  2116.0,
  528.0,
  1588.0,
  'Physical Sciences',
  0.75047259,
  31,
  1778,
  1392,
  579,
  1115,
  137,
  0.07154047,
  46000,
  38000,
  53000,
  162,
  1475,
  124),
 (40,
  41,
  6201,
  'ACCOUNTING',
  198633.0,
  94519.0,
  104114.0,
  'Business',
  0.524152583,
  2042,
  165527,
  151967,
  27693,
  123169,
  12411,
  0.069749014,
  45000,
  34000,
  56000,
  11417,
  39323,
  10886),
 (41,
  42,
  3700,
  'MATHEMATICS',
  72397.0,
  39956.0,
  32441.0,
  'Computers & Mathematics',
  0.448098678,
  541,
  58118,
  46399,
  18079,
  33738,
  2884,
  0.047277137999999996,
  45000,
  33000,
  60000,
  34800,
  14829,
  4569),
 (42,
  43,
  2100,
  'COMPUTER AND INFORMATION SYSTEMS',
  36698.0,
  27392.0,
  9306.0,
  'Computers & Mathematics',
  0.253583302,
  425,
  28459,
  26348,
  4332,
  21130,
  2934,
  0.093460326,
  45000,
  30000,
  60000,
  13344,
  11783,
  1672),
 (43,
  44,
  5007,
  'PHYSICS',
  32142.0,
  23080.0,
  9062.0,
  'Physical Sciences',
  0.281936407,
  142,
  25302,
  19428,
  8721,
  14389,
  1282,
  0.048224496,
  45000,
  30000,
  68000,
  18674,
  4576,
  1823),
 (44,
  45,
  6105,
  'MEDICAL TECHNOLOGIES TECHNICIANS',
  15914.0,
  3916.0,
  11998.0,
  'Health',
  0.75392736,
  190,
  13150,
  11510,
  2665,
  9005,
  505,
  0.03698279,
  45000,
  36000,
  50000,
  5546,
  7176,
  1002),
 (45,
  46,
  2105,
  'INFORMATION SCIENCES',
  11913.0,
  9005.0,
  2908.0,
  'Computers & Mathematics',
  0.24410308100000003,
  158,
  9881,
  9105,
  1468,
  7378,
  639,
  0.060741445,
  45000,
  32500,
  58000,
  4390,
  4102,
  608),
 (46,
  47,
  3702,
  'STATISTICS AND DECISION SCIENCE',
  6251.0,
  2960.0,
  3291.0,
  'Computers & Mathematics',
  0.526475764,
  37,
  4247,
  3190,
  1840,
  2151,
  401,
  0.086273666,
  45000,
  26700,
  60000,
  2298,
  1200,
  343),
 (47,
  48,
  3701,
  'APPLIED MATHEMATICS',
  4939.0,
  2794.0,
  2145.0,
  'Computers & Mathematics',
  0.43429844100000004,
  45,
  3854,
  3465,
  1176,
  2593,
  385,
  0.09082330699999999,
  45000,
  34000,
  63000,
  2437,
  803,
  357),
 (48,
  49,
  3607,
  'PHARMACOLOGY',
  1762.0,
  515.0,
  1247.0,
  'Biology & Life Science',
  0.7077185020000001,
  3,
  1144,
  657,
  532,
  565,
  107,
  0.085531575,
  45000,
  40000,
  45000,
  603,
  478,
  93),
 (49,
  50,
  5006,
  'OCEANOGRAPHY',
  2418.0,
  752.0,
  1666.0,
  'Physical Sciences',
  0.688999173,
  36,
  1638,
  1931,
  379,
  1595,
  99,
  0.056994819,
  44700,
  23000,
  50000,
  459,
  996,
  186),
 (50,
  51,
  2501,
  'ENGINEERING AND INDUSTRIAL MANAGEMENT',
  2906.0,
  2400.0,
  506.0,
  'Engineering',
  0.174122505,
  29,
  2125,
  1992,
  462,
  1358,
  74,
  0.03365166,
  44000,
  30000,
  50000,
  482,
  844,
  245),
 (51,
  52,
  6104,
  'MEDICAL ASSISTING SERVICES',
  11123.0,
  803.0,
  10320.0,
  'Health',
  0.927807246,
  67,
  9168,
  5643,
  4107,
  4290,
  407,
  0.042506527,
  42000,
  30000,
  65000,
  2091,
  6948,
  1270),
 (52,
  53,
  4005,
  'MATHEMATICS AND COMPUTER SCIENCE',
  609.0,
  500.0,
  109.0,
  'Computers & Mathematics',
  0.178981938,
  7,
  559,
  584,
  0,
  391,
  0,
  0.0,
  42000,
  30000,
  78000,
  452,
  67,
  25),
 (53,
  54,
  2101,
  'COMPUTER PROGRAMMING AND DATA PROCESSING',
  4168.0,
  3046.0,
  1122.0,
  'Computers & Mathematics',
  0.269193858,
  43,
  3257,
  3204,
  482,
  2453,
  419,
  0.11398259,
  41300,
  20000,
  46000,
  2024,
  1033,
  263),
 (54,
  55,
  4006,
  'COGNITIVE SCIENCE AND BIOPSYCHOLOGY',
  3831.0,
  1667.0,
  2164.0,
  'Biology & Life Science',
  0.56486557,
  25,
  2741,
  2470,
  711,
  1584,
  223,
  0.075236167,
  41000,
  20000,
  60000,
  1369,
  921,
  135),
 (55,
  56,
  2303,
  'SCHOOL STUDENT COUNSELING',
  818.0,
  119.0,
  699.0,
  'Education',
  0.854523227,
  4,
  730,
  595,
  135,
  545,
  88,
  0.10757946199999999,
  41000,
  41000,
  43000,
  509,
  221,
  0),
 (56,
  57,
  5505,
  'INTERNATIONAL RELATIONS',
  28187.0,
  10345.0,
  17842.0,
  'Social Science',
  0.632986838,
  219,
  21190,
  18681,
  5563,
  13583,
  2271,
  0.09679894300000001,
  40100,
  31200,
  53000,
  6774,
  9570,
  2499),
 (57,
  58,
  6200,
  'GENERAL BUSINESS',
  234590.0,
  132238.0,
  102352.0,
  'Business',
  0.43630163299999997,
  2380,
  190183,
  171385,
  36241,
  138299,
  14946,
  0.072861468,
  40000,
  30000,
  55000,
  29334,
  100831,
  27320),
 (58,
  59,
  1401,
  'ARCHITECTURE',
  46420.0,
  25463.0,
  20957.0,
  'Engineering',
  0.451464886,
  362,
  34158,
  29223,
  10206,
  20026,
  4366,
  0.113331949,
  40000,
  31000,
  50000,
  16178,
  13724,
  4221),
 (59,
  60,
  6210,
  'INTERNATIONAL BUSINESS',
  25894.0,
  10624.0,
  15270.0,
  'Business',
  0.589711902,
  260,
  19660,
  17563,
  4890,
  12823,
  2092,
  0.096175064,
  40000,
  30000,
  50000,
  3383,
  9482,
  3046),
 (60,
  61,
  6108,
  'PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION',
  23551.0,
  8697.0,
  14854.0,
  'Health',
  0.6307163179999999,
  38,
  16620,
  12537,
  5346,
  9131,
  977,
  0.055520827,
  40000,
  20000,
  90000,
  11573,
  4493,
  1121),
 (61,
  62,
  3603,
  'MOLECULAR BIOLOGY',
  18300.0,
  7426.0,
  10874.0,
  'Biology & Life Science',
  0.59420765,
  90,
  11581,
  9441,
  4590,
  6183,
  1067,
  0.084361164,
  40000,
  29000,
  47000,
  7225,
  3145,
  1168),
 (62,
  63,
  6299,
  'MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION',
  17947.0,
  10285.0,
  7662.0,
  'Business',
  0.42692372,
  244,
  14826,
  13364,
  3366,
  10637,
  1150,
  0.071982974,
  40000,
  30000,
  51000,
  2236,
  8937,
  1758),
 (63,
  64,
  1101,
  'AGRICULTURE PRODUCTION AND MANAGEMENT',
  14240.0,
  9658.0,
  4582.0,
  'Agriculture & Natural Resources',
  0.321769663,
  273,
  12323,
  11119,
  2196,
  9093,
  649,
  0.050030835999999995,
  40000,
  25000,
  50000,
  1925,
  6221,
  1362),
 (64,
  65,
  1100,
  'GENERAL AGRICULTURE',
  10399.0,
  6053.0,
  4346.0,
  'Agriculture & Natural Resources',
  0.4179248,
  158,
  8884,
  7589,
  2031,
  5888,
  178,
  0.019642463,
  40000,
  30000,
  50000,
  2418,
  4717,
  839),
 (65,
  66,
  2599,
  'MISCELLANEOUS ENGINEERING TECHNOLOGIES',
  8804.0,
  7043.0,
  1761.0,
  'Engineering',
  0.200022717,
  125,
  7502,
  7001,
  1240,
  5825,
  416,
  0.05253852,
  40000,
  30400,
  56000,
  2446,
  3896,
  386),
 (66,
  67,
  2504,
  'MECHANICAL ENGINEERING RELATED TECHNOLOGIES',
  4790.0,
  4419.0,
  371.0,
  'Engineering',
  0.07745302700000001,
  71,
  4186,
  4175,
  247,
  3607,
  250,
  0.056357078,
  40000,
  27000,
  52000,
  1861,
  2121,
  406),
 (67,
  68,
  3605,
  'GENETICS',
  3635.0,
  1761.0,
  1874.0,
  'Biology & Life Science',
  0.515543329,
  11,
  2463,
  1787,
  847,
  1487,
  87,
  0.034117647,
  40000,
  34000,
  45000,
  1675,
  678,
  201),
 (68,
  69,
  5599,
  'MISCELLANEOUS SOCIAL SCIENCES',
  3283.0,
  1499.0,
  1784.0,
  'Social Science',
  0.5434054220000001,
  28,
  2727,
  2183,
  907,
  1530,
  215,
  0.073079538,
  40000,
  30000,
  54000,
  744,
  1654,
  573),
 (69,
  70,
  6403,
  'UNITED STATES HISTORY',
  3079.0,
  1756.0,
  1323.0,
  'Humanities & Liberal Arts',
  0.429684963,
  22,
  2787,
  2103,
  839,
  1274,
  138,
  0.047179487,
  40000,
  30000,
  42000,
  801,
  1591,
  302),
 (70,
  71,
  5205,
  'INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY',
  3014.0,
  1075.0,
  1939.0,
  'Psychology & Social Work',
  0.643331121,
  24,
  2343,
  1644,
  1095,
  1409,
  286,
  0.10878661099999999,
  40000,
  32000,
  53000,
  559,
  1224,
  272),
 (71,
  72,
  1102,
  'AGRICULTURAL ECONOMICS',
  2439.0,
  1749.0,
  690.0,
  'Agriculture & Natural Resources',
  0.28290282899999997,
  44,
  2174,
  1819,
  620,
  1528,
  182,
  0.077249576,
  40000,
  27000,
  54000,
  535,
  893,
  94),
 (72,
  73,
  5000,
  'PHYSICAL SCIENCES',
  1436.0,
  894.0,
  542.0,
  'Physical Sciences',
  0.377437326,
  10,
  1146,
  768,
  437,
  653,
  42,
  0.035353535,
  40000,
  30000,
  55000,
  530,
  465,
  269),
 (73,
  74,
  3801,
  'MILITARY TECHNOLOGIES',
  124.0,
  124.0,
  0.0,
  'Industrial Arts & Consumer Services',
  0.0,
  4,
  0,
  111,
  0,
  111,
  0,
  0.0,
  40000,
  40000,
  40000,
  0,
  0,
  0),
 (74,
  75,
  5003,
  'CHEMISTRY',
  66530.0,
  32923.0,
  33607.0,
  'Physical Sciences',
  0.5051405379999999,
  353,
  48535,
  39509,
  15066,
  29910,
  2769,
  0.053972400000000004,
  39000,
  30000,
  49900,
  30382,
  14718,
  4288),
 (75,
  76,
  5701,
  'ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLOGIES AND PRODUCTION',
  2435.0,
  1869.0,
  566.0,
  'Industrial Arts & Consumer Services',
  0.23244353199999998,
  37,
  2107,
  2057,
  287,
  1752,
  64,
  0.029479502999999997,
  38400,
  22500,
  45000,
  221,
  1659,
  81),
 (76,
  77,
  6203,
  'BUSINESS MANAGEMENT AND ADMINISTRATION',
  329927.0,
  173809.0,
  156118.0,
  'Business',
  0.473189524,
  4212,
  276234,
  251540,
  50357,
  199897,
  21502,
  0.07221834099999999,
  38000,
  29000,
  50000,
  36720,
  148395,
  32395),
 (77,
  78,
  6206,
  'MARKETING AND MARKETING RESEARCH',
  205211.0,
  78857.0,
  126354.0,
  'Business',
  0.615727227,
  2684,
  178862,
  156668,
  35829,
  127230,
  11663,
  0.061215064000000007,
  38000,
  30000,
  50000,
  25320,
  93889,
  27968),
 (78,
  79,
  5506,
  'POLITICAL SCIENCE AND GOVERNMENT',
  182621.0,
  93880.0,
  88741.0,
  'Social Science',
  0.485929877,
  1387,
  133454,
  117709,
  43711,
  83236,
  15022,
  0.101174601,
  38000,
  28000,
  50000,
  36854,
  66947,
  19803),
 (79,
  80,
  5504,
  'GEOGRAPHY',
  18480.0,
  11404.0,
  7076.0,
  'Social Science',
  0.382900433,
  179,
  14057,
  11367,
  5651,
  8628,
  1799,
  0.113458628,
  38000,
  30000,
  50000,
  5350,
  6830,
  1905),
 (80,
  81,
  3606,
  'MICROBIOLOGY',
  15232.0,
  6383.0,
  8849.0,
  'Biology & Life Science',
  0.580948004,
  62,
  9685,
  7453,
  3379,
  5080,
  693,
  0.066775872,
  38000,
  29600,
  50000,
  5577,
  3174,
  1246),
 (81,
  82,
  2106,
  'COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY',
  8066.0,
  6607.0,
  1459.0,
  'Computers & Mathematics',
  0.180882718,
  103,
  6509,
  6289,
  1030,
  4936,
  721,
  0.099723375,
  37500,
  25000,
  50000,
  2354,
  3244,
  308),
 (82,
  83,
  3601,
  'BIOCHEMICAL SCIENCES',
  39107.0,
  18951.0,
  20156.0,
  'Biology & Life Science',
  0.515406449,
  174,
  25678,
  20643,
  9948,
  13785,
  2249,
  0.080531385,
  37400,
  29000,
  50000,
  15654,
  8394,
  3012),
 (83,
  84,
  3602,
  'BOTANY',
  1329.0,
  626.0,
  703.0,
  'Biology & Life Science',
  0.52896915,
  9,
  1010,
  946,
  169,
  740,
  0,
  0.0,
  37000,
  26000,
  40000,
  677,
  184,
  56),
 (84,
  85,
  2107,
  'COMPUTER NETWORKING AND TELECOMMUNICATIONS',
  7613.0,
  5291.0,
  2322.0,
  'Computers & Mathematics',
  0.305004597,
  97,
  6144,
  5495,
  1447,
  4369,
  1100,
  0.151849807,
  36400,
  27000,
  49000,
  2593,
  2941,
  352),
 (85,
  86,
  5004,
  'GEOLOGY AND EARTH SCIENCE',
  10972.0,
  5813.0,
  5159.0,
  'Physical Sciences',
  0.470196865,
  78,

o bien utilizando read_sql_query que nos regresa un DataFrame. En este notebook utilizaremos el segundo porque nos arroja un output más legible

In [11]:
pd.read_sql_query("SELECT * FROM recent_grads", con)

,index,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
5,5,6,2418,NUCLEAR ENGINEERING,2573.0,2200.0,373.0,Engineering,0.144967,17,...,264,1449,400,0.177226,65000,50000,102000,1142,657,244
6,6,7,6202,ACTUARIAL SCIENCE,3777.0,2110.0,1667.0,Business,0.441356,51,...,296,2482,308,0.095652,62000,53000,72000,1768,314,259
7,7,8,5001,ASTRONOMY AND ASTROPHYSICS,1792.0,832.0,960.0,Physical Sciences,0.535714,10,...,553,827,33,0.021167,62000,31500,109000,972,500,220
8,8,9,2414,MECHANICAL ENGINEERING,91227.0,80320.0,10907.0,Engineering,0.119559,1029,...,13101,54639,4650,0.057342,60000,48000,70000,52844,16384,3253
9,9,10,2408,ELECTRICAL ENGINEERING,81527.0,65511.0,16016.0,Engineering,0.196450,631,...,12695,41413,3895,0.059174,60000,45000,72000,45829,10874,3170
10,10,11,2407,COMPUTER ENGINEERING,41542.0,33258.0,8284.0,Engineering,0.199413,399,...,5146,23621,2275,0.065409,60000,45000,75000,23694,5721,980
11,11,12,2401,AEROSPACE ENGINEERING,15058.0,12953.0,2105.0,Engineering,0.139793,147,...,2724,8790,794,0.065162,60000,42000,70000,8184,2425,372
12,12,13,2404,BIOMEDICAL ENGINEERING,14955.0,8407.0,6548.0,Engineering,0.437847,79,...,2694,5986,1019,0.092084,60000,36000,70000,6439,2471,789
13,13,14,5008,MATERIALS SCIENCE,4279.0,2949.0,1330.0,Engineering,0.310820,22,...,878,1967,78,0.023043,60000,39000,65000,2626,391,81
14,14,15,2409,ENGINEERING MECHANICS PHYSICS AND SCIENCE,4321.0,3526.0,795.0,Engineering,0.183985,30,...,811,2004,23,0.006334,58000,25000,74000,2439,947,263
15,15,16,2402,BIOLOGICAL ENGINEERING,8925.0,6062.0,2863.0,Engineering,0.320784,55,...,1983,3413,589,0.087143,57100,40000,76000,3603,1595,524
16,16,17,2412,INDUSTRIAL AND MANUFACTURING ENGINEERING,18968.0,12453.0,6515.0,Engineering,0.343473,183,...,2243,11326,699,0.042876,57000,37900,67000,8306,3235,640
17,17,18,2400,GENERAL ENGINEERING,61152.0,45683.0,15469.0,Engineering,0.252960,425,...,7199,33540,2859,0.059824,56000,36000,69000,26898,11734,3192
18,18,19,2403,ARCHITECTURAL ENGINEERING,2825.0,1835.0,990.0,Engineering,0.350442,26,...,343,1848,170,0.061931,54000,38000,65000,1665,649,137
19,19,20,3201,COURT REPORTING,1148.0,877.0,271.0,Law & Public Policy,0.236063,14,...,223,808,11,0.011690,54000,50000,54000,402,528,144
20,20,21,2102,COMPUTER SCIENCE,128319.0,99743.0,28576.0,Computers & Mathematics,0.222695,1196,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144
21,21,22,1104,FOOD SCIENCE,NaN,NaN,NaN,Agriculture & Natural Resources,NaN,36,...,1121,1735,338,0.096931,53000,32000,70000,1183,1274,485
22,22,23,2502,ELECTRICAL ENGINEERING TECHNOLOGY,11565.0,8181.0,3384.0,Engineering,0.292607,97,...,1873,5681,824,0.087557,52000,35000,60000,5126,2686,696
23,23,24,2413,MATERIALS ENGINEERING AND MATERIALS SCIENCE,2993.0,2020.0,973.0,Engineering,0.325092,22,...,1040,1151,70,0.027789,52000,35000,62000,1911,305,70
24,24,25,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,18713.0,13496.0,5217.0,Business,0.278790,278,...,2420,13017,1015,0.058240,51000,38000,60000,6342,5741,708
25,25,26,2406,CIVIL ENGINEERING,53153.0,41081.0,12072.0,Engineering,0.227118,565,...,10080,29196,3270,0.070610,50000,40000,60000,28526,9356,2899
26,26,27,5601,CONSTRUCTION SERVICES,18498.0,16820.0,1678.0,Industrial Arts & Consumer Services,0.090713,295,...,1751,12313,1042,0.060023,50000,36000,60000,3275,5351,703
27,27,28,6204,OPERATIONS LOGISTICS AND E-COMMERCE,11732.0,7921.0,3811.0,Business,0.324838,156,...,1183,7724,504,0.047859,50000,40000,60000,1466,3629,285
28,28,29,2499,MISCELLANEOUS ENGINEERING,9133.0,7398.0,1735.0,Engineering,0.189970,118,...,1662,5476,597,0.074393,50000,39000,65000,3445,2426,365
29,29,30,5402,PUBLIC POLICY,5978.0,2639.0,3339.0,Law & Public Policy,0.558548,55,...,1306,2776,670,0.128426,50000,35000,70000,1550,1871,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,143,144,1105,PLANT SCIENCE AND AGRONOMY,7416.0,4897.0,2519.0,Agriculture & Natural Resources,0.339671,110,...,1246,4522,314,0.045455,32000,22900,40000,2089,3545,1231
144,144,145,2308,SCIENCE AND COMPUTER TEACHER EDUCATION,6483.0,2049.0,4434.0,Education,0.683943,59,...,1227,3247,266,0.047264,32000,28000,39000,4214,1106,591
145,145,146,5200,PSYCHOLOGY,393735.0,86648.0,307087.0,Psychology & Social Work,0.779933,2584,...,115172,174438,28169,0.083811,31500,24000,41000,125148,141860,48207
146,146,147,6002,MUSIC,60633.0,29909.0,30724.0,Arts,0.506721,419,...,24943,21425,3918,0.075960,31000,22300,42000,13752,28786,9286
147,147,148,2306,PHYSICAL AND HEALTH EDUCATION TEACHING,28213.0,15670.0,12543.0,Education,0.444582,259,...,7230,13651,1920,0.074667,31000,24000,40000,12777,9328,2042
148,148,149,6006,ART HISTORY AND CRITICISM,21030.0,3240.0,17790.0,Humanities & Liberal Arts,0.845934,204,...,6140,9965,1128,0.060298,31000,23000,40000,5139,9738,3426
149,149,150,6000,FINE ARTS,74440.0,24786.0,49654.0,Arts,0.667034,623,...,23656,31877,5486,0.084186,30500,21000,41000,20792,32725,11880
150,150,151,2901,FAMILY AND CONSUMER SCIENCES,58001.0,5166.0,52835.0,Industrial Arts & Consumer Services,0.910933,518,...,15872,26906,3355,0.067128,30000,22900,40000,20985,20133,5248
151,151,152,5404,SOCIAL WORK,53552.0,5137.0,48415.0,Psychology & Social Work,0.904075,374,...,13481,27588,3329,0.068828,30000,25000,35000,27449,14416,4344
152,152,153,1103,ANIMAL SCIENCES,21573.0,5347.0,16226.0,Agriculture & Natural Resources,0.752144,255,...,5353,10824,917,0.050862,30000,22000,40000,5443,9571,2125
153,153,154,6003,VISUAL AND PERFORMING ARTS,16250.0,4133.0,12117.0,Arts,0.745662,132,...,6253,6322,1465,0.102197,30000,22000,40000,3849,7635,2840
154,154,155,2312,TEACHER EDUCATION: MULTIPLE LEVELS,14443.0,2734.0,11709.0,Education,0.810704,142,...,2214,8457,496,0.036546,30000,24000,37000,10766,1949,722
155,155,156,5299,MISCELLANEOUS PSYCHOLOGY,9628.0,1936.0,7692.0,Psychology & Social Work,0.798920,60,...,3221,3838,419,0.051908,30000,20800,40000,2960,3948,1650
156,156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,9374.0,885.0,8489.0,Psychology & Social Work,0.905590,89,...,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
157,157,158,3402,HUMANITIES,6652.0,2013.0,4639.0,Humanities & Liberal Arts,0.697384,49,...,2225,2661,372,0.068584,30000,20000,49000,1168,3354,1141
158,158,159,4901,THEOLOGY AND RELIGIOUS VOCATIONS,30207.0,18616.0,11591.0,Humanities & Liberal Arts,0.383719,310,...,8767,13944,1617,0.062628,29000,22000,38000,9927,12037,3304
159,159,160,6007,STUDIO ARTS,16977.0,4754.0,12223.0,Arts,0.719974,182,...,5673,7413,1368,0.089552,29000,19200,38300,3948,8707,3586
160,160,161,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,10510.0,4364.0,6146.0,Industrial Arts & Consumer Services,0.584776,117,...,2064,5949,510,0.055677,29000,20000,36000,563,7384,3163
161,161,162,1199,MISCELLANEOUS AGRICULTURE,1488.0,404.0,1084.0,Agriculture & Natural Resources,0.728495,24,...,335,936,82,0.059767,29000,23000,42100,483,626,31
162,162,163,5502,ANTHROPOLOGY AND ARCHEOLOGY,38844.0,11376.0,27468.0,Humanities & Liberal Arts,0.707136,247,...,14515,13232,3395,0.102792,28000,20000,38000,9805,16693,6866
163,163,164,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,38279.0,1225.0,37054.0,Health,0.967998,95,...,13862,14460,1487,0.047584,28000,20000,40000,19957,9404,5125
164,164,165,2307,EARLY CHILDHOOD EDUCATION,37589.0,1167.0,36422.0,Education,0.968954,342,...,7001,20748,1360,0.040105,28000,21000,35000,23515,7705,2868
165,165,166,2603,OTHER FOREIGN LANGUAGES,11204.0,3472.0,7732.0,Humanities & Liberal Arts,0.690111,56,...,3685,3214,846,0.107116,27500,22900,38000,2326,3703,1115
166,166,167,6001,DRAMA AND THEATER ARTS,43249.0,14440.0,28809.0,Arts,0.666119,357,...,15994,16891,3040,0.077541,27000,19200,35000,6994,25313,11068
167,167,168,3302,COMPOSITION AND RHETORIC,18953.0,7022.0,11931.0,Humanities & Liberal Arts,0.629505,151,...,6612,7832,1340,0.081742,27000,20000,35000,4855,8100,3466
168,168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,...,237,410,87,0.104946,22000,20000,22000,288,338,192

### Recent Grads

Primero podemos imprimir las primeras 5 observaciones de la base de datos (similar al método head)

In [12]:
pd.read_sql_query("SELECT * FROM recent_grads LIMIT 5;", con)

,index,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

#### 1. Escribe una sentencia de SQL que regrese las primeras 10 filas

In [13]:
pd.read_sql_query("SELECT * FROM recent_grads LIMIT 10;", con)

,index,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
5,5,6,2418,NUCLEAR ENGINEERING,2573.0,2200.0,373.0,Engineering,0.144967,17,...,264,1449,400,0.177226,65000,50000,102000,1142,657,244
6,6,7,6202,ACTUARIAL SCIENCE,3777.0,2110.0,1667.0,Business,0.441356,51,...,296,2482,308,0.095652,62000,53000,72000,1768,314,259
7,7,8,5001,ASTRONOMY AND ASTROPHYSICS,1792.0,832.0,960.0,Physical Sciences,0.535714,10,...,553,827,33,0.021167,62000,31500,109000,972,500,220
8,8,9,2414,MECHANICAL ENGINEERING,91227.0,80320.0,10907.0,Engineering,0.119559,1029,...,13101,54639,4650,0.057342,60000,48000,70000,52844,16384,3253
9,9,10,2408,ELECTRICAL ENGINEERING,81527.0,65511.0,16016.0,Engineering,0.196450,631,...,12695,41413,3895,0.059174,60000,45000,72000,45829,10874,3170

Ahora podemos ver que hay maneras adicionales para pedirle que nos regrese una columna en particular

In [14]:
pd.read_sql_query("SELECT Major FROM recent_grads LIMIT 5;", con)

                                       Major
0                      PETROLEUM ENGINEERING
1             MINING AND MINERAL ENGINEERING
2                  METALLURGICAL ENGINEERING
3  NAVAL ARCHITECTURE AND MARINE ENGINEERING
4                       CHEMICAL ENGINEERING

Del mismo modo podemos pedirle que nos regrese un par de columnas si separamos por comas

In [15]:
pd.read_sql_query("SELECT Major, Major_category FROM recent_grads LIMIT 5;",con)

                                       Major Major_category
0                      PETROLEUM ENGINEERING    Engineering
1             MINING AND MINERAL ENGINEERING    Engineering
2                  METALLURGICAL ENGINEERING    Engineering
3  NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
4                       CHEMICAL ENGINEERING    Engineering

Estas querys nos regresan toda la columna de Major y Major category, pero podemos pedirle que sólo nos regrese aquellos records donde la proporción de mujeres (Sharewomen) es preponderante (>=0.5)

In [16]:
pd.read_sql_query("""
SELECT Major FROM recent_grads
WHERE ShareWomen >= 0.5 LIMIT 5;
""", con)

                                               Major
0                         ASTRONOMY AND ASTROPHYSICS
1                                      PUBLIC POLICY
2                                            NURSING
3  NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...
4                                         ACCOUNTING

#### 2. Selecciona con una Query que regrese las Majors donde las mujeres son minoría, sólo regresa las columnas de Major y ShareWomen (en ese orden) y limita las filas regresadas a 10

In [17]:
pd.read_sql_query("""
SELECT Major, ShareWomen FROM recent_grads
WHERE ShareWomen < 0.5
LIMIT 10;
""", con)

                                       Major  ShareWomen
0                      PETROLEUM ENGINEERING    0.120564
1             MINING AND MINERAL ENGINEERING    0.101852
2                  METALLURGICAL ENGINEERING    0.153037
3  NAVAL ARCHITECTURE AND MARINE ENGINEERING    0.107313
4                       CHEMICAL ENGINEERING    0.341631
5                        NUCLEAR ENGINEERING    0.144967
6                          ACTUARIAL SCIENCE    0.441356
7                     MECHANICAL ENGINEERING    0.119559
8                     ELECTRICAL ENGINEERING    0.196450
9                       COMPUTER ENGINEERING    0.199413

Podemos seleccionar sin ningún problema las filas de una base de datos filtrando por más de una condición de la siguiente forma

In [18]:
pd.read_sql_query("""
SELECT * FROM recent_grads
WHERE (Major_category = 'Engineering') AND (ShareWomen > 0.2);
""", con)

,index,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
1,12,13,2404,BIOMEDICAL ENGINEERING,14955.0,8407.0,6548.0,Engineering,0.437847,79,...,2694,5986,1019,0.092084,60000,36000,70000,6439,2471,789
2,13,14,5008,MATERIALS SCIENCE,4279.0,2949.0,1330.0,Engineering,0.310820,22,...,878,1967,78,0.023043,60000,39000,65000,2626,391,81
3,15,16,2402,BIOLOGICAL ENGINEERING,8925.0,6062.0,2863.0,Engineering,0.320784,55,...,1983,3413,589,0.087143,57100,40000,76000,3603,1595,524
4,16,17,2412,INDUSTRIAL AND MANUFACTURING ENGINEERING,18968.0,12453.0,6515.0,Engineering,0.343473,183,...,2243,11326,699,0.042876,57000,37900,67000,8306,3235,640
5,17,18,2400,GENERAL ENGINEERING,61152.0,45683.0,15469.0,Engineering,0.252960,425,...,7199,33540,2859,0.059824,56000,36000,69000,26898,11734,3192
6,18,19,2403,ARCHITECTURAL ENGINEERING,2825.0,1835.0,990.0,Engineering,0.350442,26,...,343,1848,170,0.061931,54000,38000,65000,1665,649,137
7,22,23,2502,ELECTRICAL ENGINEERING TECHNOLOGY,11565.0,8181.0,3384.0,Engineering,0.292607,97,...,1873,5681,824,0.087557,52000,35000,60000,5126,2686,696
8,23,24,2413,MATERIALS ENGINEERING AND MATERIALS SCIENCE,2993.0,2020.0,973.0,Engineering,0.325092,22,...,1040,1151,70,0.027789,52000,35000,62000,1911,305,70
9,25,26,2406,CIVIL ENGINEERING,53153.0,41081.0,12072.0,Engineering,0.227118,565,...,10080,29196,3270,0.070610,50000,40000,60000,28526,9356,2899
10,30,31,2410,ENVIRONMENTAL ENGINEERING,4047.0,2662.0,1385.0,Engineering,0.342229,26,...,930,1951,308,0.093589,50000,42000,56000,2028,830,260
11,31,32,2500,ENGINEERING TECHNOLOGIES,3600.0,2695.0,905.0,Engineering,0.251389,39,...,689,1723,163,0.055030,50000,43000,60000,1017,1269,142
12,33,34,2411,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,720.0,488.0,232.0,Engineering,0.322222,5,...,126,396,49,0.075038,50000,42800,57000,501,50,49
13,38,39,2503,INDUSTRIAL PRODUCTION TECHNOLOGIES,4631.0,3477.0,1154.0,Engineering,0.249190,73,...,597,3242,129,0.028308,46000,35000,65000,1394,2454,480
14,58,59,1401,ARCHITECTURE,46420.0,25463.0,20957.0,Engineering,0.451465,362,...,10206,20026,4366,0.113332,40000,31000,50000,16178,13724,4221
15,65,66,2599,MISCELLANEOUS ENGINEERING TECHNOLOGIES,8804.0,7043.0,1761.0,Engineering,0.200023,125,...,1240,5825,416,0.052539,40000,30400,56000,2446,3896,386

#### 3. Escribe una query que regrese todas las majors donde la mayoría son mujeres y todas las majors donde la mediana del salario es mayor que 50000, incluye las siguientes columnas en los resultados: Major, Major_category, Median, ShareWomen

In [10]:
pd.read_sql_query("""
SELECT Major, Major_category, Median, ShareWomen FROM recent_grads
WHERE (ShareWomen>0.5) OR (Median>50000);
""", con)

,Major,Major_category,Median,ShareWomen
0,PETROLEUM ENGINEERING,Engineering,110000,0.120564
1,MINING AND MINERAL ENGINEERING,Engineering,75000,0.101852
2,METALLURGICAL ENGINEERING,Engineering,73000,0.153037
3,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,70000,0.107313
4,CHEMICAL ENGINEERING,Engineering,65000,0.341631
5,NUCLEAR ENGINEERING,Engineering,65000,0.144967
6,ACTUARIAL SCIENCE,Business,62000,0.441356
7,ASTRONOMY AND ASTROPHYSICS,Physical Sciences,62000,0.535714
8,MECHANICAL ENGINEERING,Engineering,60000,0.119559
9,ELECTRICAL ENGINEERING,Engineering,60000,0.196450
10,COMPUTER ENGINEERING,Engineering,60000,0.199413
11,AEROSPACE ENGINEERING,Engineering,60000,0.139793
12,BIOMEDICAL ENGINEERING,Engineering,60000,0.437847
13,MATERIALS SCIENCE,Engineering,60000,0.310820
14,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,58000,0.183985
15,BIOLOGICAL ENGINEERING,Engineering,57100,0.320784
16,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,57000,0.343473
17,GENERAL ENGINEERING,Engineering,56000,0.252960
18,ARCHITECTURAL ENGINEERING,Engineering,54000,0.350442
19,COURT REPORTING,Law & Public Policy,54000,0.236063
20,COMPUTER SCIENCE,Computers & Mathematics,53000,0.222695
21,FOOD SCIENCE,Agriculture & Natural Resources,53000,NaN
22,ELECTRICAL ENGINEERING TECHNOLOGY,Engineering,52000,0.292607
23,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering,52000,0.325092
24,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,51000,0.278790
25,PUBLIC POLICY,Law & Public Policy,50000,0.558548
26,NURSING,Health,48000,0.896019
27,"NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...",Physical Sciences,46000,0.750473
28,ACCOUNTING,Business,45000,0.524153
29,MEDICAL TECHNOLOGIES TECHNICIANS,Health,45000,0.753927
...,...,...,...,...
90,PHYSICAL FITNESS PARKS RECREATION AND LEISURE,Industrial Arts & Consumer Services,32000,0.502846
91,LIBERAL ARTS,Humanities & Liberal Arts,32000,0.686993
92,GENERAL SOCIAL SCIENCES,Social Science,32000,0.606889
93,SCIENCE AND COMPUTER TEACHER EDUCATION,Education,32000,0.683943
94,PSYCHOLOGY,Psychology & Social Work,31500,0.779933
95,MUSIC,Arts,31000,0.506721
96,ART HISTORY AND CRITICISM,Humanities & Liberal Arts,31000,0.845934
97,FINE ARTS,Arts,30500,0.667034
98,FAMILY AND CONSUMER SCIENCES,Industrial Arts & Consumer Services,30000,0.910933
99,SOCIAL WORK,Psychology & Social Work,30000,0.904075
100,ANIMAL SCIENCES,Agriculture & Natural Resources,30000,0.752144
101,VISUAL AND PERFORMING ARTS,Arts,30000,0.745662
102,TEACHER EDUCATION: MULTIPLE LEVELS,Education,30000,0.810704
103,MISCELLANEOUS PSYCHOLOGY,Psychology & Social Work,30000,0.798920
104,HUMAN SERVICES AND COMMUNITY ORGANIZATION,Psychology & Social Work,30000,0.905590
105,HUMANITIES,Humanities & Liberal Arts,30000,0.697384
106,STUDIO ARTS,Arts,29000,0.719974
107,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,29000,0.584776
108,MISCELLANEOUS AGRICULTURE,Agriculture & Natural Resources,29000,0.728495
109,ANTHROPOLOGY AND ARCHEOLOGY,Humanities & Liberal Arts,28000,0.707136
110,COMMUNICATION DISORDERS SCIENCES AND SERVICES,Health,28000,0.967998
111,EARLY CHILDHOOD EDUCATION,Education,28000,0.968954
112,OTHER FOREIGN LANGUAGES,Humanities & Liberal Arts,27500,0.690111
113,DRAMA AND THEATER ARTS,Arts,27000,0.666119
114,COMPOSITION AND RHETORIC,Humanities & Liberal Arts,27000,0.629505
115,ZOOLOGY,Biology & Life Science,26000,0.637293
116,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,25000,0.817099
117,CLINICAL PSYCHOLOGY,Psychology & Social Work,25000,0.799859
118,COUNSELING PSYCHOLOGY,Psychology & Social Work,23400,0.798746
119,LIBRARY SCIENCE,Education,22000,0.877960

Así como utilizamos el operador AND en el ejercicio pasado podemos sin problemas utilizar el operador OR

#### 4. Escribe una query que regrese las primeras 20 majors que 1) tengan una mediana salarial mayor o igual a 10,000 ó 2) tengan menos o igual a 1,000 personas desempleadas (unemployed). Incluye las siguientes columnas en los resultados: Major, Median, Unemployed

In [20]:
pd.read_sql_query("""
SELECT Major, Median, Unemployed FROM recent_grads
WHERE (Median>=10000) OR (Unemployed<=1000)
LIMIT 20;
""", con)

                                        Major  Median  Unemployed
0                       PETROLEUM ENGINEERING  110000          37
1              MINING AND MINERAL ENGINEERING   75000          85
2                   METALLURGICAL ENGINEERING   73000          16
3   NAVAL ARCHITECTURE AND MARINE ENGINEERING   70000          40
4                        CHEMICAL ENGINEERING   65000        1672
5                         NUCLEAR ENGINEERING   65000         400
6                           ACTUARIAL SCIENCE   62000         308
7                  ASTRONOMY AND ASTROPHYSICS   62000          33
8                      MECHANICAL ENGINEERING   60000        4650
9                      ELECTRICAL ENGINEERING   60000        3895
10                       COMPUTER ENGINEERING   60000        2275
11                      AEROSPACE ENGINEERING   60000         794
12                     BIOMEDICAL ENGINEERING   60000        1019
13                          MATERIALS SCIENCE   60000          78
14  ENGINEERING MECHANICS PHYSICS AND SCIENCE   58000          23
15                     BIOLOGICAL ENGINEERING   57100         589
16   INDUSTRIAL AND MANUFACTURING ENGINEERING   57000         699
17                        GENERAL ENGINEERING   56000        2859
18                  ARCHITECTURAL ENGINEERING   54000         170
19                            COURT REPORTING   54000          11

Para escribir lógica más compleja debemos agrupar nuestras condiciones en paréntesis, así podemos correr lo siguiente

In [21]:
pd.read_sql_query("""
SELECT Major, Major_category, ShareWomen, Unemployment_rate
FROM recent_grads
WHERE (Major_category = 'Engineering') AND (ShareWomen > 0.5 OR Unemployment_rate < 0.051);
""", con)

,Major,Major_category,ShareWomen,Unemployment_rate
0,PETROLEUM ENGINEERING,Engineering,0.120564,0.018381
1,METALLURGICAL ENGINEERING,Engineering,0.153037,0.024096
2,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,0.107313,0.050125
3,MATERIALS SCIENCE,Engineering,0.310820,0.023043
4,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,0.183985,0.006334
5,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,0.343473,0.042876
6,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering,0.325092,0.027789
7,INDUSTRIAL PRODUCTION TECHNOLOGIES,Engineering,0.249190,0.028308
8,ENGINEERING AND INDUSTRIAL MANAGEMENT,Engineering,0.174123,0.033652

#### 5. Escribe una query que regrese todos los Engineering majors que: tienen más de 20% de mujeres ó tienen una tasa de desempleo menor al 5.1%. Regresa en los resultados las columnas: Major, Major_category, ShareWomen, Unemployment_rate

In [22]:
pd.read_sql_query("""
SELECT Major, Major_category, ShareWomen, Unemployment_rate FROM recent_grads
WHERE (Major_category='Engineering') AND (ShareWomen>0.2 OR Unemployment_rate < 0.051);
""", con)

,Major,Major_category,ShareWomen,Unemployment_rate
0,PETROLEUM ENGINEERING,Engineering,0.120564,0.018381
1,METALLURGICAL ENGINEERING,Engineering,0.153037,0.024096
2,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,0.107313,0.050125
3,CHEMICAL ENGINEERING,Engineering,0.341631,0.061098
4,BIOMEDICAL ENGINEERING,Engineering,0.437847,0.092084
5,MATERIALS SCIENCE,Engineering,0.310820,0.023043
6,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,0.183985,0.006334
7,BIOLOGICAL ENGINEERING,Engineering,0.320784,0.087143
8,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,0.343473,0.042876
9,GENERAL ENGINEERING,Engineering,0.252960,0.059824
10,ARCHITECTURAL ENGINEERING,Engineering,0.350442,0.061931
11,ELECTRICAL ENGINEERING TECHNOLOGY,Engineering,0.292607,0.087557
12,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering,0.325092,0.027789
13,CIVIL ENGINEERING,Engineering,0.227118,0.070610
14,ENVIRONMENTAL ENGINEERING,Engineering,0.342229,0.093589
15,ENGINEERING TECHNOLOGIES,Engineering,0.251389,0.055030
16,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,Engineering,0.322222,0.075038
17,INDUSTRIAL PRODUCTION TECHNOLOGIES,Engineering,0.249190,0.028308
18,ENGINEERING AND INDUSTRIAL MANAGEMENT,Engineering,0.174123,0.033652
19,ARCHITECTURE,Engineering,0.451465,0.113332
20,MISCELLANEOUS ENGINEERING TECHNOLOGIES,Engineering,0.200023,0.052539

Podemos querer además de obtener los resultados ordenarlos de tal manera que nos parezcan más legibles, esto se consigue aplicando la instrucción ORDER BY

In [23]:
pd.read_sql_query("""
SELECT Major, Major_category, ShareWomen, Unemployment_rate FROM recent_grads
WHERE (Major_category='Engineering') AND (ShareWomen>0.2 OR Unemployment_rate < 0.051)
ORDER BY Unemployment_rate;
""", con)

,Major,Major_category,ShareWomen,Unemployment_rate
0,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,0.183985,0.006334
1,PETROLEUM ENGINEERING,Engineering,0.120564,0.018381
2,MATERIALS SCIENCE,Engineering,0.310820,0.023043
3,METALLURGICAL ENGINEERING,Engineering,0.153037,0.024096
4,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering,0.325092,0.027789
5,INDUSTRIAL PRODUCTION TECHNOLOGIES,Engineering,0.249190,0.028308
6,ENGINEERING AND INDUSTRIAL MANAGEMENT,Engineering,0.174123,0.033652
7,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,0.343473,0.042876
8,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,0.107313,0.050125
9,MISCELLANEOUS ENGINEERING TECHNOLOGIES,Engineering,0.200023,0.052539
10,ENGINEERING TECHNOLOGIES,Engineering,0.251389,0.055030
11,GENERAL ENGINEERING,Engineering,0.252960,0.059824
12,CHEMICAL ENGINEERING,Engineering,0.341631,0.061098
13,ARCHITECTURAL ENGINEERING,Engineering,0.350442,0.061931
14,CIVIL ENGINEERING,Engineering,0.227118,0.070610
15,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,Engineering,0.322222,0.075038
16,BIOLOGICAL ENGINEERING,Engineering,0.320784,0.087143
17,ELECTRICAL ENGINEERING TECHNOLOGY,Engineering,0.292607,0.087557
18,BIOMEDICAL ENGINEERING,Engineering,0.437847,0.092084
19,ENVIRONMENTAL ENGINEERING,Engineering,0.342229,0.093589
20,ARCHITECTURE,Engineering,0.451465,0.113332

Si quisieramos ordenar descendentemente, entonces escribiríamos 'DESC'

In [25]:
pd.read_sql_query("""
SELECT Major, Major_category, ShareWomen, Unemployment_rate FROM recent_grads
WHERE (Major_category='Engineering') AND (ShareWomen>0.2 OR Unemployment_rate < 0.051)
ORDER BY Unemployment_rate DESC;
""", con)

,Major,Major_category,ShareWomen,Unemployment_rate
0,ARCHITECTURE,Engineering,0.451465,0.113332
1,ENVIRONMENTAL ENGINEERING,Engineering,0.342229,0.093589
2,BIOMEDICAL ENGINEERING,Engineering,0.437847,0.092084
3,ELECTRICAL ENGINEERING TECHNOLOGY,Engineering,0.292607,0.087557
4,BIOLOGICAL ENGINEERING,Engineering,0.320784,0.087143
5,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,Engineering,0.322222,0.075038
6,CIVIL ENGINEERING,Engineering,0.227118,0.070610
7,ARCHITECTURAL ENGINEERING,Engineering,0.350442,0.061931
8,CHEMICAL ENGINEERING,Engineering,0.341631,0.061098
9,GENERAL ENGINEERING,Engineering,0.252960,0.059824
10,ENGINEERING TECHNOLOGIES,Engineering,0.251389,0.055030
11,MISCELLANEOUS ENGINEERING TECHNOLOGIES,Engineering,0.200023,0.052539
12,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,0.107313,0.050125
13,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,0.343473,0.042876
14,ENGINEERING AND INDUSTRIAL MANAGEMENT,Engineering,0.174123,0.033652
15,INDUSTRIAL PRODUCTION TECHNOLOGIES,Engineering,0.249190,0.028308
16,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering,0.325092,0.027789
17,METALLURGICAL ENGINEERING,Engineering,0.153037,0.024096
18,MATERIALS SCIENCE,Engineering,0.310820,0.023043
19,PETROLEUM ENGINEERING,Engineering,0.120564,0.018381
20,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering,0.183985,0.006334

#### 6. Escribe una query que regrese todas las majors donde la proporción de mujeres es mayor a 30% y la tasa de desempleo es menor a 10%, incluye la siguientes columnas en tus resultados Major, ShareWomen, Unemployment_rate y finalmente orden tus resultados en orden descendente respecto a ShareWomen

In [32]:
pd.read_sql_query("""
SELECT Major, ShareWomen, Unemployment_rate FROM recent_grads
WHERE ShareWomen>0.3 AND Unemployment_rate<0.1
ORDER BY ShareWomen DESC;
""", con)

,Major,ShareWomen,Unemployment_rate
0,EARLY CHILDHOOD EDUCATION,0.968954,0.040105
1,COMMUNICATION DISORDERS SCIENCES AND SERVICES,0.967998,0.047584
2,MEDICAL ASSISTING SERVICES,0.927807,0.042507
3,ELEMENTARY EDUCATION,0.923745,0.046586
4,FAMILY AND CONSUMER SCIENCES,0.910933,0.067128
5,SPECIAL NEEDS EDUCATION,0.906677,0.041508
6,HUMAN SERVICES AND COMMUNITY ORGANIZATION,0.905590,0.037819
7,SOCIAL WORK,0.904075,0.068828
8,NURSING,0.896019,0.044863
9,MISCELLANEOUS HEALTH MEDICAL PROFESSIONS,0.881294,0.081411
10,LANGUAGE AND DRAMA EDUCATION,0.877228,0.050306
11,NUTRITION SCIENCES,0.864456,0.068701
12,ART HISTORY AND CRITICISM,0.845934,0.060298
13,EDUCATIONAL PSYCHOLOGY,0.817099,0.065112
14,GENERAL EDUCATION,0.812877,0.057360
15,TEACHER EDUCATION: MULTIPLE LEVELS,0.810704,0.036546
16,MISCELLANEOUS PSYCHOLOGY,0.798920,0.051908
17,COUNSELING PSYCHOLOGY,0.798746,0.053621
18,PSYCHOLOGY,0.779933,0.083811
19,GENERAL MEDICAL AND HEALTH SERVICES,0.774577,0.082102
20,MULTI/INTERDISCIPLINARY STUDIES,0.770901,0.070861
21,HEALTH AND MEDICAL ADMINISTRATIVE SERVICES,0.764427,0.089626
22,INTERDISCIPLINARY SOCIAL SCIENCES,0.764320,0.092306
23,ADVERTISING AND PUBLIC RELATIONS,0.758060,0.067961
24,MEDICAL TECHNOLOGIES TECHNICIANS,0.753927,0.036983
25,ANIMAL SCIENCES,0.752144,0.050862
26,"NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...",0.750473,0.071540
27,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,0.747561,0.059570
28,FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN L...,0.733968,0.075566
29,MISCELLANEOUS AGRICULTURE,0.728495,0.059767
...,...,...,...
90,MATHEMATICS,0.448099,0.047277
91,PHYSICAL AND HEALTH EDUCATION TEACHING,0.444582,0.074667
92,ACTUARIAL SCIENCE,0.441356,0.095652
93,BIOMEDICAL ENGINEERING,0.437847,0.092084
94,GENERAL BUSINESS,0.436302,0.072861
95,APPLIED MATHEMATICS,0.434298,0.090823
96,BUSINESS ECONOMICS,0.430537,0.096448
97,UNITED STATES HISTORY,0.429685,0.047179
98,MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION,0.426924,0.071983
99,GENERAL AGRICULTURE,0.417925,0.019642
100,PHILOSOPHY AND RELIGIOUS STUDIES,0.416810,0.096052
101,MISCELLANEOUS FINE ARTS,0.410180,0.089375
102,THEOLOGY AND RELIGIOUS VOCATIONS,0.383719,0.062628
103,PHYSICAL SCIENCES,0.377437,0.035354
104,NATURAL RESOURCES MANAGEMENT,0.374356,0.066619
105,ECONOMICS,0.355469,0.099092
106,ARCHITECTURAL ENGINEERING,0.350442,0.061931
107,INDUSTRIAL AND MANUFACTURING ENGINEERING,0.343473,0.042876
108,ENVIRONMENTAL ENGINEERING,0.342229,0.093589
109,CHEMICAL ENGINEERING,0.341631,0.061098
110,FINANCE,0.340825,0.060686
111,PLANT SCIENCE AND AGRONOMY,0.339671,0.045455
112,MATERIALS ENGINEERING AND MATERIALS SCIENCE,0.325092,0.027789
113,OPERATIONS LOGISTICS AND E-COMMERCE,0.324838,0.047859
114,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,0.322222,0.075038
115,AGRICULTURE PRODUCTION AND MANAGEMENT,0.321770,0.050031
116,ATMOSPHERIC SCIENCES AND METEOROLOGY,0.321296,0.022229
117,BIOLOGICAL ENGINEERING,0.320784,0.087143
118,MATERIALS SCIENCE,0.310820,0.023043
119,SOIL SCIENCE,0.305109,0.000000

#### 7. Escribe una query que regrese todas las majors que sean 'Engineering' o 'Physical Sciences' en orden ascendente de tasas de desempleo (Unemployment_rate). Regresa en tus resultados las columnas Major_category, Major y Unemployment Rate

In [33]:
pd.read_sql_query("""
SELECT Major_category, Major, Unemployment_rate FROM recent_grads
WHERE Major_category='Engineering' OR Major_category="Physical Sciences"
ORDER BY Unemployment_rate ASC;
""", con)

,Major_category,Major,Unemployment_rate
0,Engineering,ENGINEERING MECHANICS PHYSICS AND SCIENCE,0.006334
1,Engineering,PETROLEUM ENGINEERING,0.018381
2,Physical Sciences,ASTRONOMY AND ASTROPHYSICS,0.021167
3,Physical Sciences,ATMOSPHERIC SCIENCES AND METEOROLOGY,0.022229
4,Engineering,MATERIALS SCIENCE,0.023043
5,Engineering,METALLURGICAL ENGINEERING,0.024096
6,Physical Sciences,GEOSCIENCES,0.024374
7,Engineering,MATERIALS ENGINEERING AND MATERIALS SCIENCE,0.027789
8,Engineering,INDUSTRIAL PRODUCTION TECHNOLOGIES,0.028308
9,Engineering,ENGINEERING AND INDUSTRIAL MANAGEMENT,0.033652
10,Physical Sciences,PHYSICAL SCIENCES,0.035354
11,Engineering,INDUSTRIAL AND MANUFACTURING ENGINEERING,0.042876
12,Physical Sciences,PHYSICS,0.048224
13,Engineering,NAVAL ARCHITECTURE AND MARINE ENGINEERING,0.050125
14,Engineering,MISCELLANEOUS ENGINEERING TECHNOLOGIES,0.052539
15,Physical Sciences,CHEMISTRY,0.053972
16,Engineering,ENGINEERING TECHNOLOGIES,0.055030
17,Physical Sciences,MULTI-DISCIPLINARY OR GENERAL SCIENCE,0.055807
18,Engineering,MECHANICAL ENGINEERING RELATED TECHNOLOGIES,0.056357
19,Physical Sciences,OCEANOGRAPHY,0.056995
20,Engineering,MECHANICAL ENGINEERING,0.057342
21,Engineering,ELECTRICAL ENGINEERING,0.059174
22,Engineering,GENERAL ENGINEERING,0.059824
23,Engineering,CHEMICAL ENGINEERING,0.061098
24,Engineering,ARCHITECTURAL ENGINEERING,0.061931
25,Engineering,AEROSPACE ENGINEERING,0.065162
26,Engineering,COMPUTER ENGINEERING,0.065409
27,Engineering,CIVIL ENGINEERING,0.070610
28,Physical Sciences,"NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...",0.071540
29,Engineering,MISCELLANEOUS ENGINEERING,0.074393
30,Engineering,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,0.075038
31,Physical Sciences,GEOLOGY AND EARTH SCIENCE,0.075449
32,Engineering,BIOLOGICAL ENGINEERING,0.087143
33,Engineering,ELECTRICAL ENGINEERING TECHNOLOGY,0.087557
34,Engineering,BIOMEDICAL ENGINEERING,0.092084
35,Engineering,ENVIRONMENTAL ENGINEERING,0.093589
36,Engineering,ARCHITECTURE,0.113332
37,Engineering,MINING AND MINERAL ENGINEERING,0.117241
38,Engineering,NUCLEAR ENGINEERING,0.177226

#### Estadística descriptiva

Hasta ahora hemos regresado, filtrado y ordenado sólo los datos de la tabla, pero para resolver preguntas más interesantes tenemos que poder realizar operaciones con estos datos

Por ejemplo, queremos saber cuantas Majors tienen más de 25% de mujeres

Si escribimos

In [34]:
pd.read_sql_query("""
SELECT Major FROM recent_grads
WHERE ShareWomen > 0.25;
""", con)

                                                 Major
0                                 CHEMICAL ENGINEERING
1                                    ACTUARIAL SCIENCE
2                           ASTRONOMY AND ASTROPHYSICS
3                               BIOMEDICAL ENGINEERING
4                                    MATERIALS SCIENCE
5                               BIOLOGICAL ENGINEERING
6             INDUSTRIAL AND MANUFACTURING ENGINEERING
7                                  GENERAL ENGINEERING
8                            ARCHITECTURAL ENGINEERING
9                    ELECTRICAL ENGINEERING TECHNOLOGY
10         MATERIALS ENGINEERING AND MATERIALS SCIENCE
11       MANAGEMENT INFORMATION SYSTEMS AND STATISTICS
12                 OPERATIONS LOGISTICS AND E-COMMERCE
13                                       PUBLIC POLICY
14                           ENVIRONMENTAL ENGINEERING
15                            ENGINEERING TECHNOLOGIES
16                             MISCELLANEOUS FINE ARTS
17              GEOLOGICAL AND GEOPHYSICAL ENGINEERING
18                                             NURSING
19                                             FINANCE
20                                           ECONOMICS
21                                  BUSINESS ECONOMICS
22   NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...
23                                          ACCOUNTING
24                                         MATHEMATICS
25                    COMPUTER AND INFORMATION SYSTEMS
26                                             PHYSICS
27                    MEDICAL TECHNOLOGIES TECHNICIANS
28                     STATISTICS AND DECISION SCIENCE
29                                 APPLIED MATHEMATICS
..                                                 ...
116                         PLANT SCIENCE AND AGRONOMY
117             SCIENCE AND COMPUTER TEACHER EDUCATION
118                                         PSYCHOLOGY
119                                              MUSIC
120             PHYSICAL AND HEALTH EDUCATION TEACHING
121                          ART HISTORY AND CRITICISM
122                                          FINE ARTS
123                       FAMILY AND CONSUMER SCIENCES
124                                        SOCIAL WORK
125                                    ANIMAL SCIENCES
126                         VISUAL AND PERFORMING ARTS
127                 TEACHER EDUCATION: MULTIPLE LEVELS
128                           MISCELLANEOUS PSYCHOLOGY
129          HUMAN SERVICES AND COMMUNITY ORGANIZATION
130                                         HUMANITIES
131                   THEOLOGY AND RELIGIOUS VOCATIONS
132                                        STUDIO ARTS
133             COSMETOLOGY SERVICES AND CULINARY ARTS
134                          MISCELLANEOUS AGRICULTURE
135                        ANTHROPOLOGY AND ARCHEOLOGY
136      COMMUNICATION DISORDERS SCIENCES AND SERVICES
137                          EARLY CHILDHOOD EDUCATION
138                            OTHER FOREIGN LANGUAGES
139                             DRAMA AND THEATER ARTS
140                           COMPOSITION AND RHETORIC
141                                            ZOOLOGY
142                             EDUCATIONAL PSYCHOLOGY
143                                CLINICAL PSYCHOLOGY
144                              COUNSELING PSYCHOLOGY
145                                    LIBRARY SCIENCE

[146 rows x 1 columns]

sin embargo lo más efectivo para saber cuántas majors son en total es utilizar la función COUNT()

In [35]:
pd.read_sql_query("""
SELECT COUNT(Major) FROM recent_grads
WHERE ShareWomen > 0.25;
""", con)

   COUNT(Major)
0           146

#### 8. Cuenta cuántas majors existen donde la proporción de mujeres sea menor al 30%

In [36]:
pd.read_sql_query("""
SELECT COUNT(Major) FROM recent_grads
WHERE ShareWomen < 0.3;
""", con)

   COUNT(Major)
0            34

Otras funciones útiles son MIN() y MAX(), podemos escribir

In [11]:
pd.read_sql_query("""
SELECT Major, MIN(ShareWomen) 
FROM recent_grads;
""", con)

                   Major  MIN(ShareWomen)
0  MILITARY TECHNOLOGIES              0.0

Es interesante que haya una Major que no tiene mujeres en nuestro dataset

#### 9. Escribe una query que regrese la major de Engineering que tenga el menor salario mediano. Regresa sólo las columnas Major, Major_category y MIN(Median) en tus resultados

In [38]:
pd.read_sql_query("""
SELECT Major, Major_category, MIN(Median)
FROM recent_grads
WHERE Major_category = "Engineering";
""", con)

          Major Major_category  MIN(Median)
0  ARCHITECTURE    Engineering        40000

Otras funciones útiles son SUM() y AVG()

#### 10. Escribe una query que regrese la suma de la columna 'Total' que contiene el total de estudiantes y una segunda query que nos regrese el promedio de la columna 'Total'

In [39]:
pd.read_sql_query("""
SELECT SUM(Total)
FROM recent_grads;
""", con)

   SUM(Total)
0   6771654.0

In [40]:
pd.read_sql_query("""
SELECT AVG(Total)
FROM recent_grads;
""", con)

     AVG(Total)
0  39370.081395

En vez de escribir una query individual para cada pregunta podemos escribir todas juntas

In [41]:
pd.read_sql_query("""
SELECT MIN(Median), MAX(Median), SUM(Total)
FROM recent_grads;
""", con)

   MIN(Median)  MAX(Median)  SUM(Total)
0        22000       110000   6771654.0

#### 11. Escribe una query que calcule el promedio de la columna Total, el mínimo de la columna Women y el máximo de la columna Women

In [12]:
pd.read_sql_query("""
SELECT AVG(Total), MIN(Women), MAX(Women)
FROM recent_grads;
""", con)

     AVG(Total)  MIN(Women)  MAX(Women)
0  39370.081395         0.0    307087.0

GROUP BY nos sirve para agrupar estadísticas por categoría

In [26]:
pd.read_sql_query("""
SELECT Major_category, SUM(Employed) 
FROM recent_grads 
GROUP BY Major_category;
""", con)

                         Major_category  SUM(Employed)
0       Agriculture & Natural Resources          66943
1                                  Arts         288114
2                Biology & Life Science         302797
3                              Business        1088742
4           Communications & Journalism         330660
5               Computers & Mathematics         237894
6                             Education         479839
7                           Engineering         420372
8                                Health         372147
9             Humanities & Liberal Arts         544118
10  Industrial Arts & Consumer Services         189043
11                    Interdisciplinary           9821
12                  Law & Public Policy         144790
13                    Physical Sciences         139231
14             Psychology & Social Work         380344
15                       Social Science         401493

#### 12. Utiliza select para seleccionar las columnas Major_category y AVG(Share_Women) utiliza GROUP BY para agrupar por Major_category

In [44]:
pd.read_sql_query("""
SELECT Major_category, AVG(ShareWomen) FROM recent_grads
GROUP BY Major_category;
""", con)

                         Major_category  AVG(ShareWomen)
0       Agriculture & Natural Resources         0.405267
1                                  Arts         0.603658
2                Biology & Life Science         0.587193
3                              Business         0.483198
4           Communications & Journalism         0.658384
5               Computers & Mathematics         0.311772
6                             Education         0.748507
7                           Engineering         0.238889
8                                Health         0.795152
9             Humanities & Liberal Arts         0.631790
10  Industrial Arts & Consumer Services         0.349523
11                    Interdisciplinary         0.770901
12                  Law & Public Policy         0.483649
13                    Physical Sciences         0.508683
14             Psychology & Social Work         0.794397
15                       Social Science         0.553962

Podemos renombrar las columnas calculadas con el operador AS de la siguiente forma

In [45]:
pd.read_sql_query("""
SELECT COUNT(*) AS num_students FROM recent_grads;
""", con)

   num_students
0           173

inclusive SQLite nos permite no escribir el operados AS si utilizamos un string

In [27]:
pd.read_sql_query("""
SELECT COUNT(*) "num students" FROM recent_grads;
""", con)

   num students
0           173

#### 13. Escribe una query que regrese el número de filas como "Número de estudiantes" y el máximo valor de Unemployment_rate como "Máxima tasa de desempleo"

In [48]:
pd.read_sql_query("""
SELECT COUNT(*) "Número de estudiantes", MAX(Unemployment_rate) "Máxima tasa de desempleo" FROM recent_grads;
""", con)

   Número de estudiantes  Máxima tasa de desempleo
0                    173                  0.177226

Si queremos obtener los valores únicos de una columna entonces podemos usar DISTINCT

In [50]:
pd.read_sql_query("""
SELECT DISTINCT Major_category FROM recent_grads;
""", con)

                         Major_category
0                           Engineering
1                              Business
2                     Physical Sciences
3                   Law & Public Policy
4               Computers & Mathematics
5       Agriculture & Natural Resources
6   Industrial Arts & Consumer Services
7                                  Arts
8                                Health
9                        Social Science
10               Biology & Life Science
11                            Education
12            Humanities & Liberal Arts
13             Psychology & Social Work
14          Communications & Journalism
15                    Interdisciplinary

si pasamos como argumento más de una columna, entonces nos buscará las combinaciones únicas. Ejemplo

In [52]:
pd.read_sql_query("""
SELECT DISTINCT Major, Major_category FROM recent_grads
limit 5;
""", con)

                                       Major Major_category
0                      PETROLEUM ENGINEERING    Engineering
1             MINING AND MINERAL ENGINEERING    Engineering
2                  METALLURGICAL ENGINEERING    Engineering
3  NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
4                       CHEMICAL ENGINEERING    Engineering

incluso podemos contar el número de valores únicos de una columna

In [53]:
pd.read_sql_query("""
SELECT COUNT(DISTINCT(Major_category)) unique_major_categories FROM recent_grads;
""", con)

   unique_major_categories
0                       16

#### 14. Escribe una query que regrese el número total de valores únicos de las columnas 'Major', 'Major_category' y 'Major_code'. Coloca un alias por medio de un string a cada categoría

In [54]:
pd.read_sql_query("""
SELECT COUNT(DISTINCT(Major)) "unique_majors",
COUNT(DISTINCT(Major_category)) "unique_major_categories",
COUNT(DISTINCT(Major_code)) "unique_major_codes"
FROM recent_grads;
""", con)

   unique_majors  unique_major_categories  unique_major_codes
0            173                       16                 173

Otra pregunta interesante que ahora podemos contestar es ¿cuál de las majors tiene el mayor spread entre los salarios de los percentiles 75 y 25?

In [57]:
pd.read_sql_query("""
SELECT P75th - P25th quartile_spread, Major FROM recent_grads
LIMIT 10;
""", con)

   quartile_spread                                      Major
0            30000                      PETROLEUM ENGINEERING
1            35000             MINING AND MINERAL ENGINEERING
2            55000                  METALLURGICAL ENGINEERING
3            37000  NAVAL ARCHITECTURE AND MARINE ENGINEERING
4            25000                       CHEMICAL ENGINEERING
5            52000                        NUCLEAR ENGINEERING
6            19000                          ACTUARIAL SCIENCE
7            77500                 ASTRONOMY AND ASTROPHYSICS
8            22000                     MECHANICAL ENGINEERING
9            27000                     ELECTRICAL ENGINEERING

#### 15. Escribe una query que muestre la diferencia entre los percentiles 25 y 75 de salarios para todas las majors. Regresa en tu query primero la columna Major y Major_category utilizando el nombre de la columna por default. Asimismo, calcula la diferencia entre los percentiles 25 y 75 utilizando el alias quartile_spread. Finalmente, ordena los resultados de menor a mayor y regresa solo los primeros 20 resultados

In [58]:
pd.read_sql_query("""
SELECT Major, Major_category, P75th - P25th "quartile_spread" FROM recent_grads
ORDER BY quartile_spread ASC
LIMIT 20;
""", con)

,Major,Major_category,quartile_spread
0,MILITARY TECHNOLOGIES,Industrial Arts & Consumer Services,0
1,SCHOOL STUDENT COUNSELING,Education,2000
2,LIBRARY SCIENCE,Education,2000
3,COURT REPORTING,Law & Public Policy,4000
4,PHARMACOLOGY,Biology & Life Science,5000
5,EDUCATIONAL ADMINISTRATION AND SUPERVISION,Education,6000
6,COUNSELING PSYCHOLOGY,Psychology & Social Work,6800
7,SPECIAL NEEDS EDUCATION,Education,10000
8,MATHEMATICS TEACHER EDUCATION,Education,10000
9,SOCIAL WORK,Psychology & Social Work,10000
10,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,10000
11,GENETICS,Biology & Life Science,11000
12,SOCIAL PSYCHOLOGY,Psychology & Social Work,11000
13,SCIENCE AND COMPUTER TEACHER EDUCATION,Education,11000
14,HUMAN SERVICES AND COMMUNITY ORGANIZATION,Psychology & Social Work,11000
15,UNITED STATES HISTORY,Humanities & Liberal Arts,12000
16,SECONDARY TEACHER EDUCATION,Education,13000
17,TEACHER EDUCATION: MULTIPLE LEVELS,Education,13000
18,ENVIRONMENTAL ENGINEERING,Engineering,14000
19,MEDICAL TECHNOLOGIES TECHNICIANS,Health,14000

Algunas veces queremos seleccionar un conjunto de filas después de escribir un GROUP BY. Para estos casos podemos utilizar HAVING

In [59]:
pd.read_sql_query("""
SELECT Major_category, AVG(Employed) / AVG(Total) AS share_employed 
FROM recent_grads 
GROUP BY Major_category 
HAVING share_employed > .8;
""", con)

                        Major_category  share_employed
0                                 Arts        0.806748
1                             Business        0.835966
2          Communications & Journalism        0.842229
3                            Education        0.858190
4                               Health        0.803374
5  Industrial Arts & Consumer Services        0.822670
6                  Law & Public Policy        0.808399

Fijense que SQL me permite utilizar los nombres personalizados en partes subsecuentes de mi Query incluyendo HAVING y WHERE

#### 16. Encuentra todas las categorías de major donde los graduados con salarios bajos son mayores al 10%. Utiliza SELECT para obtener Major_category, AVG(Low_wage_jobs)/AVG(Total) as share_low_wage, utiliza GROUP BY para agrupar por Major_category y utiliza HAVING para restringir la selección a las filas donde share_low_wage es mayor a 10%

In [60]:
pd.read_sql_query("""
SELECT Major_category, AVG(Low_wage_jobs)/AVG(Total) as "share_low_wage" FROM recent_grads
GROUP BY Major_category
HAVING share_low_wage>0.1;
""", con)

                        Major_category  share_low_wage
0                                 Arts        0.168331
1          Communications & Journalism        0.126324
2            Humanities & Liberal Arts        0.132087
3  Industrial Arts & Consumer Services        0.115713
4                  Law & Public Policy        0.115685
5             Psychology & Social Work        0.116934
6                       Social Science        0.102233

Podemos utilizar la función ROUND para redondear valores. Ejemplo

In [62]:
pd.read_sql_query("""
SELECT ROUND(ShareWomen, 4), Major_category FROM recent_grads
LIMIT 10;
""", con)

   ROUND(ShareWomen, 4)     Major_category
0                0.1206        Engineering
1                0.1019        Engineering
2                0.1530        Engineering
3                0.1073        Engineering
4                0.3416        Engineering
5                0.1450        Engineering
6                0.4414           Business
7                0.5357  Physical Sciences
8                0.1196        Engineering
9                0.1965        Engineering

#### 17. Utiliza select para seleccionar Major_category y calcula AVG(College_jobs)/AVG(Total) utilizando el alias de "share_degree_jobs" además utiliza la función ROUND para redondear a 3 decimales. Asimismo, agrupa por Major_category utilizando GROUP BY y selecciona sólo las filas donde "share_degree_jobs" sea menor al 30%

In [63]:
pd.read_sql_query("""
SELECT Major_category, ROUND(AVG(College_jobs)/AVG(Total), 3) as "share_degree_jobs" FROM recent_grads
GROUP BY Major_category
HAVING share_degree_jobs < 0.3
""", con)

                        Major_category  share_degree_jobs
0      Agriculture & Natural Resources              0.236
1                                 Arts              0.265
2                             Business              0.114
3          Communications & Journalism              0.220
4            Humanities & Liberal Arts              0.270
5  Industrial Arts & Consumer Services              0.249
6                  Law & Public Policy              0.163
7                       Social Science              0.215

Podemos conocer algunos de los metadatos de nuestra tabla si corremos el siguiente comando

In [64]:
pd.read_sql_query("""
PRAGMA TABLE_INFO(recent_grads);
""", con)

    cid                  name     type  notnull dflt_value  pk
0     0                 index  INTEGER        0       None   0
1     1                  Rank  INTEGER        0       None   0
2     2            Major_code  INTEGER        0       None   0
3     3                 Major     TEXT        0       None   0
4     4                 Total     REAL        0       None   0
5     5                   Men     REAL        0       None   0
6     6                 Women     REAL        0       None   0
7     7        Major_category     TEXT        0       None   0
8     8            ShareWomen     REAL        0       None   0
9     9           Sample_size  INTEGER        0       None   0
10   10              Employed  INTEGER        0       None   0
11   11             Full_time  INTEGER        0       None   0
12   12             Part_time  INTEGER        0       None   0
13   13  Full_time_year_round  INTEGER        0       None   0
14   14            Unemployed  INTEGER        0       None   0
15   15     Unemployment_rate     REAL        0       None   0
16   16                Median  INTEGER        0       None   0
17   17                 P25th  INTEGER        0       None   0
18   18                 P75th  INTEGER        0       None   0
19   19          College_jobs  INTEGER        0       None   0
20   20      Non_college_jobs  INTEGER        0       None   0
21   21         Low_wage_jobs  INTEGER        0       None   0

Veamos que si nosotros calculamos un ratio entre dos datos del tipo integer, entonces SQLite va a redondear hacia abajo para quedarnos con la parte entera

In [73]:
pd.read_sql_query("""
SELECT Full_time, Employed, Full_time/Employed FROM recent_grads
LIMIT 5;
""", con)

   Full_time  Employed  Full_time/Employed
0       1849      1976                   0
1        556       640                   0
2        558       648                   0
3       1069       758                   1
4      23170     25694                   0

Para obtener el resultado correcto tenemos que utilizar CAST() para cambiar el tipo de dato en nuestra operación

In [77]:
pd.read_sql_query("""
SELECT Full_time, Employed, CAST(Full_time AS Float)/CAST(Employed AS Float) "Share_full_time" FROM recent_grads
LIMIT 5;
""", con)

   Full_time  Employed  Share_full_time
0       1849      1976         0.935729
1        556       640         0.868750
2        558       648         0.861111
3       1069       758         1.410290
4      23170     25694         0.901767

#### 18. Escribe una query que seleccione las columnas Major_category y que calcule la proporción de empleados de tiempo completo como "Share_full_time", que agrupe por Major_category y que ordene los resultados por "Share_full_time" en forma ascendente

In [79]:
pd.read_sql_query("""
SELECT Major_category, CAST(Full_time AS Float)/CAST(Employed AS Float) "Share_full_time" FROM recent_grads
GROUP BY Major_category
ORDER BY Share_full_time;
""", con)

                         Major_category  Share_full_time
0                                Health         0.671135
1             Humanities & Liberal Arts         0.672358
2                                  Arts         0.695341
3                     Physical Sciences         0.774993
4                             Education         0.799191
5           Communications & Journalism         0.800577
6                        Social Science         0.801916
7                Biology & Life Science         0.805720
8               Computers & Mathematics         0.810677
9                     Interdisciplinary         0.817839
10             Psychology & Social Work         0.835054
11      Agriculture & Natural Resources         0.851163
12                             Business         0.875626
13                  Law & Public Policy         0.877003
14  Industrial Arts & Consumer Services         0.885780
15                          Engineering         0.997372

Ahora, intentemos resolver la pregunta: ¿Cuáles valores están por encima del promedio de la columna ShareWomen?

Si escribimos

In [28]:
pd.read_sql_query("""
SELECT * FROM recent_grads
WHERE ShareWomen > AVG(ShareWomen);
""", con)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

DatabaseError: Execution failed on sql '
SELECT * FROM recent_grads
WHERE ShareWomen > AVG(ShareWomen);
': misuse of aggregate function AVG()

obtenemos un error

La manera de poder escribir este tipo de expresiones es con **subquerys** que siempre debemos de escribir rodeadas de paréntesis (subquery)

Podríamos obtener el resultado deseado escribiendo

In [81]:
pd.read_sql_query("""
SELECT * FROM recent_grads
WHERE ShareWomen > (SELECT AVG(ShareWomen) FROM recent_grads);
""", con)

,index,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,7,8,5001,ASTRONOMY AND ASTROPHYSICS,1792.0,832.0,960.0,Physical Sciences,0.535714,10,...,553,827,33,0.021167,62000,31500,109000,972,500,220
1,29,30,5402,PUBLIC POLICY,5978.0,2639.0,3339.0,Law & Public Policy,0.558548,55,...,1306,2776,670,0.128426,50000,35000,70000,1550,1871,340
2,34,35,6107,NURSING,209394.0,21773.0,187621.0,Health,0.896019,2554,...,40818,122817,8497,0.044863,48000,39000,58000,151643,26146,6193
3,39,40,5102,"NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...",2116.0,528.0,1588.0,Physical Sciences,0.750473,31,...,579,1115,137,0.071540,46000,38000,53000,162,1475,124
4,40,41,6201,ACCOUNTING,198633.0,94519.0,104114.0,Business,0.524153,2042,...,27693,123169,12411,0.069749,45000,34000,56000,11417,39323,10886
5,44,45,6105,MEDICAL TECHNOLOGIES TECHNICIANS,15914.0,3916.0,11998.0,Health,0.753927,190,...,2665,9005,505,0.036983,45000,36000,50000,5546,7176,1002
6,46,47,3702,STATISTICS AND DECISION SCIENCE,6251.0,2960.0,3291.0,Computers & Mathematics,0.526476,37,...,1840,2151,401,0.086274,45000,26700,60000,2298,1200,343
7,48,49,3607,PHARMACOLOGY,1762.0,515.0,1247.0,Biology & Life Science,0.707719,3,...,532,565,107,0.085532,45000,40000,45000,603,478,93
8,49,50,5006,OCEANOGRAPHY,2418.0,752.0,1666.0,Physical Sciences,0.688999,36,...,379,1595,99,0.056995,44700,23000,50000,459,996,186
9,51,52,6104,MEDICAL ASSISTING SERVICES,11123.0,803.0,10320.0,Health,0.927807,67,...,4107,4290,407,0.042507,42000,30000,65000,2091,6948,1270
10,54,55,4006,COGNITIVE SCIENCE AND BIOPSYCHOLOGY,3831.0,1667.0,2164.0,Biology & Life Science,0.564866,25,...,711,1584,223,0.075236,41000,20000,60000,1369,921,135
11,55,56,2303,SCHOOL STUDENT COUNSELING,818.0,119.0,699.0,Education,0.854523,4,...,135,545,88,0.107579,41000,41000,43000,509,221,0
12,56,57,5505,INTERNATIONAL RELATIONS,28187.0,10345.0,17842.0,Social Science,0.632987,219,...,5563,13583,2271,0.096799,40100,31200,53000,6774,9570,2499
13,59,60,6210,INTERNATIONAL BUSINESS,25894.0,10624.0,15270.0,Business,0.589712,260,...,4890,12823,2092,0.096175,40000,30000,50000,3383,9482,3046
14,60,61,6108,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,23551.0,8697.0,14854.0,Health,0.630716,38,...,5346,9131,977,0.055521,40000,20000,90000,11573,4493,1121
15,61,62,3603,MOLECULAR BIOLOGY,18300.0,7426.0,10874.0,Biology & Life Science,0.594208,90,...,4590,6183,1067,0.084361,40000,29000,47000,7225,3145,1168
16,68,69,5599,MISCELLANEOUS SOCIAL SCIENCES,3283.0,1499.0,1784.0,Social Science,0.543405,28,...,907,1530,215,0.073080,40000,30000,54000,744,1654,573
17,70,71,5205,INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY,3014.0,1075.0,1939.0,Psychology & Social Work,0.643331,24,...,1095,1409,286,0.108787,40000,32000,53000,559,1224,272
18,77,78,6206,MARKETING AND MARKETING RESEARCH,205211.0,78857.0,126354.0,Business,0.615727,2684,...,35829,127230,11663,0.061215,38000,30000,50000,25320,93889,27968
19,80,81,3606,MICROBIOLOGY,15232.0,6383.0,8849.0,Biology & Life Science,0.580948,62,...,3379,5080,693,0.066776,38000,29600,50000,5577,3174,1246
20,83,84,3602,BOTANY,1329.0,626.0,703.0,Biology & Life Science,0.528969,9,...,169,740,0,0.000000,37000,26000,40000,677,184,56
21,86,87,6209,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,24497.0,6184.0,18313.0,Business,0.747561,264,...,3767,15446,1315,0.059570,36000,28000,45000,2406,9629,1906
22,87,88,3202,PRE-LAW AND LEGAL STUDIES,13528.0,4435.0,9093.0,Law & Public Policy,0.672161,92,...,3595,5370,757,0.071965,36000,29200,46000,2002,6454,1336
23,88,89,6199,MISCELLANEOUS HEALTH MEDICAL PROFESSIONS,13386.0,1589.0,11797.0,Health,0.881294,81,...,4145,5868,893,0.081411,36000,23000,42000,5652,3835,1422
24,90,91,5005,GEOSCIENCES,1978.0,809.0,1169.0,Physical Sciences,0.591001,18,...,354,1011,36,0.024374,36000,21000,41000,784,591,221
25,91,92,5206,SOCIAL PSYCHOLOGY,1386.0,413.0,973.0,Psychology & Social Work,0.702020,8,...,433,529,33,0.029650,36000,34000,45000,434,593,37
26,92,93,1301,ENVIRONMENTAL SCIENCE,25965.0,10787.0,15178.0,Biology & Life Science,0.584556,225,...,7071,10916,1779,0.078585,35600,25000,40200,8149,10076,3175
27,93,94,1901,COMMUNICATIONS,213996.0,70619.0,143377.0,Communications & Journalism,0.669999,2394,...,49889,116251,14602,0.075177,35000,27000,45000,40763,97964,27440
28,95,96,6004,COMMERCIAL ART AND GRAPHIC DESIGN,103480.0,32041.0,71439.0,Arts,0.690365,1186,...,24387,52243,8947,0.096798,35000,25000,45000,37389,38119,14839
29,96,97,1902,JOURNALISM,72619.0,23736.0,48883.0,Communications & Journalism,0.673143,843,...,15902,39524,4535,0.069176,35000,26000,42900,23279,26672,8512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,137,138,3301,ENGLISH LANGUAGE AND LITERATURE,194673.0,58227.0,136446.0,Humanities & Liberal Arts,0.700898,1436,...,57825,81180,14345,0.087724,32000,23000,41000,57690,71827,26503
61,138,139,2304,ELEMENTARY EDUCATION,170862.0,13029.0,157833.0,Education,0.923745,1629,...,37965,86540,7297,0.046586,32000,23400,38000,108085,36972,11502
62,140,141,3401,LIBERAL ARTS,71369.0,22339.0,49030.0,Humanities & Liberal Arts,0.686993,569,...,19187,33438,4657,0.078268,32000,25000,42000,18565,28558,9030
63,142,143,5500,GENERAL SOCIAL SCIENCES,12920.0,5079.0,7841.0,Social Science,0.606889,113,...,3396,5679,1108,0.103455,32000,27000,50000,3602,4778,1634
64,144,145,2308,SCIENCE AND COMPUTER TEACHER EDUCATION,6483.0,2049.0,4434.0,Education,0.683943,59,...,1227,3247,266,0.047264,32000,28000,39000,4214,1106,591
65,145,146,5200,PSYCHOLOGY,393735.0,86648.0,307087.0,Psychology & Social Work,0.779933,2584,...,115172,174438,28169,0.083811,31500,24000,41000,125148,141860,48207
66,148,149,6006,ART HISTORY AND CRITICISM,21030.0,3240.0,17790.0,Humanities & Liberal Arts,0.845934,204,...,6140,9965,1128,0.060298,31000,23000,40000,5139,9738,3426
67,149,150,6000,FINE ARTS,74440.0,24786.0,49654.0,Arts,0.667034,623,...,23656,31877,5486,0.084186,30500,21000,41000,20792,32725,11880
68,150,151,2901,FAMILY AND CONSUMER SCIENCES,58001.0,5166.0,52835.0,Industrial Arts & Consumer Services,0.910933,518,...,15872,26906,3355,0.067128,30000,22900,40000,20985,20133,5248
69,151,152,5404,SOCIAL WORK,53552.0,5137.0,48415.0,Psychology & Social Work,0.904075,374,...,13481,27588,3329,0.068828,30000,25000,35000,27449,14416,4344
70,152,153,1103,ANIMAL SCIENCES,21573.0,5347.0,16226.0,Agriculture & Natural Resources,0.752144,255,...,5353,10824,917,0.050862,30000,22000,40000,5443,9571,2125
71,153,154,6003,VISUAL AND PERFORMING ARTS,16250.0,4133.0,12117.0,Arts,0.745662,132,...,6253,6322,1465,0.102197,30000,22000,40000,3849,7635,2840
72,154,155,2312,TEACHER EDUCATION: MULTIPLE LEVELS,14443.0,2734.0,11709.0,Education,0.810704,142,...,2214,8457,496,0.036546,30000,24000,37000,10766,1949,722
73,155,156,5299,MISCELLANEOUS PSYCHOLOGY,9628.0,1936.0,7692.0,Psychology & Social Work,0.798920,60,...,3221,3838,419,0.051908,30000,20800,40000,2960,3948,1650
74,156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,9374.0,885.0,8489.0,Psychology & Social Work,0.905590,89,...,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
75,157,158,3402,HUMANITIES,6652.0,2013.0,4639.0,Humanities & Liberal Arts,0.697384,49,...,2225,2661,372,0.068584,30000,20000,49000,1168,3354,1141
76,159,160,6007,STUDIO ARTS,16977.0,4754.0,12223.0,Arts,0.719974,182,...,5673,7413,1368,0.089552,29000,19200,38300,3948,8707,3586
77,160,161,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,10510.0,4364.0,6146.0,Industrial Arts & Consumer Services,0.584776,117,...,2064,5949,510,0.055677,29000,20000,36000,563,7384,3163
78,161,162,1199,MISCELLANEOUS AGRICULTURE,1488.0,404.0,1084.0,Agriculture & Natural Resources,0.728495,24,...,335,936,82,0.059767,29000,23000,42100,483,626,31
79,162,163,5502,ANTHROPOLOGY AND ARCHEOLOGY,38844.0,11376.0,27468.0,Humanities & Liberal Arts,0.707136,247,...,14515,13232,3395,0.102792,28000,20000,38000,9805,16693,6866
80,163,164,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,38279.0,1225.0,37054.0,Health,0.967998,95,...,13862,14460,1487,0.047584,28000,20000,40000,19957,9404,5125
81,164,165,2307,EARLY CHILDHOOD EDUCATION,37589.0,1167.0,36422.0,Education,0.968954,342,...,7001,20748,1360,0.040105,28000,21000,35000,23515,7705,2868
82,165,166,2603,OTHER FOREIGN LANGUAGES,11204.0,3472.0,7732.0,Humanities & Liberal Arts,0.690111,56,...,3685,3214,846,0.107116,27500,22900,38000,2326,3703,1115
83,166,167,6001,DRAMA AND THEATER ARTS,43249.0,14440.0,28809.0,Arts,0.666119,357,...,15994,16891,3040,0.077541,27000,19200,35000,6994,25313,11068
84,167,168,3302,COMPOSITION AND RHETORIC,18953.0,7022.0,11931.0,Humanities & Liberal Arts,0.629505,151,...,6612,7832,1340,0.081742,27000,20000,35000,4855,8100,3466
85,168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
86,169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
87,170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
88,171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
89,172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,...,237,410,87,0.104946,22000,20000,22000,288,338,192

#### 19. Escribe una query que regrese las Majors que tienen una Unemployment_rate por debajo del promedio. Tu selección debe contener sólo las columnas Major y Unemployment_rate y tus resultados deben estar ordenados en orden ascendente por Unemployment_rate

In [82]:
pd.read_sql_query("""
SELECT Major, Unemployment_rate FROM recent_grads
WHERE Unemployment_rate < (SELECT AVG(Unemployment_rate) FROM recent_grads)
ORDER BY Unemployment_rate ASC;
""", con)

                                                Major  Unemployment_rate
0                    MATHEMATICS AND COMPUTER SCIENCE           0.000000
1                               MILITARY TECHNOLOGIES           0.000000
2                                              BOTANY           0.000000
3                                        SOIL SCIENCE           0.000000
4          EDUCATIONAL ADMINISTRATION AND SUPERVISION           0.000000
5           ENGINEERING MECHANICS PHYSICS AND SCIENCE           0.006334
6                                     COURT REPORTING           0.011690
7                       MATHEMATICS TEACHER EDUCATION           0.016203
8                               PETROLEUM ENGINEERING           0.018381
9                                 GENERAL AGRICULTURE           0.019642
10                         ASTRONOMY AND ASTROPHYSICS           0.021167
11               ATMOSPHERIC SCIENCES AND METEOROLOGY           0.022229
12                                  MATERIALS SCIENCE           0.023043
13                          METALLURGICAL ENGINEERING           0.024096
14                                        GEOSCIENCES           0.024374
15        MATERIALS ENGINEERING AND MATERIALS SCIENCE           0.027789
16                 INDUSTRIAL PRODUCTION TECHNOLOGIES           0.028308
17  ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLO...           0.029480
18                                  SOCIAL PSYCHOLOGY           0.029650
19              ENGINEERING AND INDUSTRIAL MANAGEMENT           0.033652
20                                           GENETICS           0.034118
21                                  PHYSICAL SCIENCES           0.035354
22                 TEACHER EDUCATION: MULTIPLE LEVELS           0.036546
23                   MEDICAL TECHNOLOGIES TECHNICIANS           0.036983
24          HUMAN SERVICES AND COMMUNITY ORGANIZATION           0.037819
25                            ART AND MUSIC EDUCATION           0.038638
26                          EARLY CHILDHOOD EDUCATION           0.040105
27                            SPECIAL NEEDS EDUCATION           0.041508
28                         MEDICAL ASSISTING SERVICES           0.042507
29           INDUSTRIAL AND MANUFACTURING ENGINEERING           0.042876
..                                                ...                ...
57        MECHANICAL ENGINEERING RELATED TECHNOLOGIES           0.056357
58                                       OCEANOGRAPHY           0.056995
59                             MECHANICAL ENGINEERING           0.057342
60                                  GENERAL EDUCATION           0.057360
61      MANAGEMENT INFORMATION SYSTEMS AND STATISTICS           0.058240
62                              MISCELLANEOUS BIOLOGY           0.058545
63                             ELECTRICAL ENGINEERING           0.059174
64                            MISCELLANEOUS EDUCATION           0.059212
65           HUMAN RESOURCES AND PERSONNEL MANAGEMENT           0.059570
66                          MISCELLANEOUS AGRICULTURE           0.059767
67                      TREATMENT THERAPY PROFESSIONS           0.059821
68                                GENERAL ENGINEERING           0.059824
69                              CONSTRUCTION SERVICES           0.060023
70                          ART HISTORY AND CRITICISM           0.060298
71                                            FINANCE           0.060686
72                               INFORMATION SCIENCES           0.060741
73                               CHEMICAL ENGINEERING           0.061098
74                             HOSPITALITY MANAGEMENT           0.061169
75                   MARKETING AND MARKETING RESEARCH           0.061215
76                          ARCHITECTURAL ENGINEERING           0.061931
77                   THEOLOGY AND RELIGIOUS VOCATIONS           0.062628
78                                   COMPUTER SCIENCE           0.063173
79               AREA ETHNIC AND CIVILIZATION STUDIES           0.063429
80                             EDUCATIONAL PSYCHOLOGY           0.065112
81                              AEROSPACE ENGINEERING           0.065162
82                               COMPUTER ENGINEERING           0.065409
83                       NATURAL RESOURCES MANAGEMENT           0.066619
84                                       MICROBIOLOGY           0.066776
85                       FAMILY AND CONSUMER SCIENCES           0.067128
86                   ADVERTISING AND PUBLIC RELATIONS           0.067961

[87 rows x 2 columns]

El operador IN en SQL sirve para utilizar un WHERE sobre un conjunto de categorías. Por ejemplo, que la categoría pudiera ser 'Business' o 'Engineering'

In [83]:
pd.read_sql_query("""
SELECT Major, Major_category FROM recent_grads
WHERE Major_category IN ('Business', 'Engineering')
LIMIT 7;
""", con)

                                       Major Major_category
0                      PETROLEUM ENGINEERING    Engineering
1             MINING AND MINERAL ENGINEERING    Engineering
2                  METALLURGICAL ENGINEERING    Engineering
3  NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
4                       CHEMICAL ENGINEERING    Engineering
5                        NUCLEAR ENGINEERING    Engineering
6                          ACTUARIAL SCIENCE       Business

Asimismo, podemos seleccionar aquellas categorías de Majors con más egresados

In [84]:
pd.read_sql_query("""
SELECT Major_category FROM recent_grads
GROUP BY Major_category
ORDER BY SUM(Total) DESC
LIMIT 5;
""", con)

              Major_category
0                   Business
1  Humanities & Liberal Arts
2                  Education
3                Engineering
4             Social Science

Uniendo nuestras dos querys anteriores podremos seleccionar aquellas Major_categories que se encuentren dentro de esta lista

In [86]:
pd.read_sql_query("""
SELECT Major, Major_category FROM recent_grads
WHERE Major_category IN 
(SELECT Major_category FROM recent_grads
GROUP BY Major_category
ORDER BY SUM(Total)
DESC LIMIT 5)
""", con)

,Major,Major_category
0,PETROLEUM ENGINEERING,Engineering
1,MINING AND MINERAL ENGINEERING,Engineering
2,METALLURGICAL ENGINEERING,Engineering
3,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering
4,CHEMICAL ENGINEERING,Engineering
5,NUCLEAR ENGINEERING,Engineering
6,ACTUARIAL SCIENCE,Business
7,MECHANICAL ENGINEERING,Engineering
8,ELECTRICAL ENGINEERING,Engineering
9,COMPUTER ENGINEERING,Engineering
10,AEROSPACE ENGINEERING,Engineering
11,BIOMEDICAL ENGINEERING,Engineering
12,MATERIALS SCIENCE,Engineering
13,ENGINEERING MECHANICS PHYSICS AND SCIENCE,Engineering
14,BIOLOGICAL ENGINEERING,Engineering
15,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering
16,GENERAL ENGINEERING,Engineering
17,ARCHITECTURAL ENGINEERING,Engineering
18,ELECTRICAL ENGINEERING TECHNOLOGY,Engineering
19,MATERIALS ENGINEERING AND MATERIALS SCIENCE,Engineering
20,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business
21,CIVIL ENGINEERING,Engineering
22,OPERATIONS LOGISTICS AND E-COMMERCE,Business
23,MISCELLANEOUS ENGINEERING,Engineering
24,ENVIRONMENTAL ENGINEERING,Engineering
25,ENGINEERING TECHNOLOGIES,Engineering
26,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,Engineering
27,FINANCE,Business
28,ECONOMICS,Social Science
29,BUSINESS ECONOMICS,Business
...,...,...
52,HISTORY,Humanities & Liberal Arts
53,FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN L...,Humanities & Liberal Arts
54,INTERCULTURAL AND INTERNATIONAL STUDIES,Humanities & Liberal Arts
55,SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION,Education
56,MATHEMATICS TEACHER EDUCATION,Education
57,EDUCATIONAL ADMINISTRATION AND SUPERVISION,Education
58,SOCIOLOGY,Social Science
59,HOSPITALITY MANAGEMENT,Business
60,LANGUAGE AND DRAMA EDUCATION,Education
61,LINGUISTICS AND COMPARATIVE LANGUAGE AND LITER...,Humanities & Liberal Arts
62,MISCELLANEOUS EDUCATION,Education
63,INTERDISCIPLINARY SOCIAL SCIENCES,Social Science
64,SECONDARY TEACHER EDUCATION,Education
65,PHILOSOPHY AND RELIGIOUS STUDIES,Humanities & Liberal Arts
66,ART AND MUSIC EDUCATION,Education
67,ENGLISH LANGUAGE AND LITERATURE,Humanities & Liberal Arts
68,ELEMENTARY EDUCATION,Education
69,LIBERAL ARTS,Humanities & Liberal Arts
70,GENERAL SOCIAL SCIENCES,Social Science
71,SCIENCE AND COMPUTER TEACHER EDUCATION,Education
72,PHYSICAL AND HEALTH EDUCATION TEACHING,Education
73,ART HISTORY AND CRITICISM,Humanities & Liberal Arts
74,TEACHER EDUCATION: MULTIPLE LEVELS,Education
75,HUMANITIES,Humanities & Liberal Arts
76,THEOLOGY AND RELIGIOUS VOCATIONS,Humanities & Liberal Arts
77,ANTHROPOLOGY AND ARCHEOLOGY,Humanities & Liberal Arts
78,EARLY CHILDHOOD EDUCATION,Education
79,OTHER FOREIGN LANGUAGES,Humanities & Liberal Arts
80,COMPOSITION AND RHETORIC,Humanities & Liberal Arts
81,LIBRARY SCIENCE,Education

Calculemos ahora una query que nos regrese la muestra promedio (avg_ratio) de todas las majors

In [87]:
pd.read_sql_query("""
SELECT AVG(CAST(Sample_size as float)/CAST(Total as Float)) avg_ratio FROM recent_grads
""", con)

   avg_ratio
0   0.009091

#### 20. Escribe una query que seleccione las columnas Major, Major_category y la columna calculada ratio, que filtre las filas donde el ratio sea mayor que el avg_ratio. Tip: utiliza la subquery de arriba

In [88]:
pd.read_sql_query("""
SELECT Major, Major_category, cast(Sample_size as float)/cast(Total as float) ratio FROM recent_grads
WHERE ratio>(select AVG(cast(Sample_size as float)/cast(Total as float)) avg_ratio from recent_grads)""", con)

,Major,Major_category,ratio
0,PETROLEUM ENGINEERING,Engineering,0.015391
1,MINING AND MINERAL ENGINEERING,Engineering,0.009259
2,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,0.012719
3,ACTUARIAL SCIENCE,Business,0.013503
4,MECHANICAL ENGINEERING,Engineering,0.011280
5,COMPUTER ENGINEERING,Engineering,0.009605
6,AEROSPACE ENGINEERING,Engineering,0.009762
7,INDUSTRIAL AND MANUFACTURING ENGINEERING,Engineering,0.009648
8,ARCHITECTURAL ENGINEERING,Engineering,0.009204
9,COURT REPORTING,Law & Public Policy,0.012195
10,COMPUTER SCIENCE,Computers & Mathematics,0.009321
11,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,0.014856
12,CIVIL ENGINEERING,Engineering,0.010630
13,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,0.015948
14,OPERATIONS LOGISTICS AND E-COMMERCE,Business,0.013297
15,MISCELLANEOUS ENGINEERING,Engineering,0.012920
16,PUBLIC POLICY,Law & Public Policy,0.009200
17,ENGINEERING TECHNOLOGIES,Engineering,0.010833
18,NURSING,Health,0.012197
19,FINANCE,Business,0.012544
20,ECONOMICS,Social Science,0.009494
21,BUSINESS ECONOMICS,Business,0.014960
22,INDUSTRIAL PRODUCTION TECHNOLOGIES,Engineering,0.015763
23,"NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...",Physical Sciences,0.014650
24,ACCOUNTING,Business,0.010280
25,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics,0.011581
26,MEDICAL TECHNOLOGIES TECHNICIANS,Health,0.011939
27,INFORMATION SCIENCES,Computers & Mathematics,0.013263
28,APPLIED MATHEMATICS,Computers & Mathematics,0.009111
29,OCEANOGRAPHY,Physical Sciences,0.014888
...,...,...,...
52,COMMERCIAL ART AND GRAPHIC DESIGN,Arts,0.011461
53,JOURNALISM,Communications & Journalism,0.011609
54,ADVERTISING AND PUBLIC RELATIONS,Communications & Journalism,0.012810
55,CRIMINOLOGY,Social Science,0.010765
56,HEALTH AND MEDICAL ADMINISTRATIVE SERVICES,Health,0.010161
57,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,0.011533
58,TRANSPORTATION SCIENCES AND TECHNOLOGIES,Industrial Arts & Consumer Services,0.011881
59,NATURAL RESOURCES MANAGEMENT,Agriculture & Natural Resources,0.011036
60,MULTI/INTERDISCIPLINARY STUDIES,Interdisciplinary,0.010410
61,FORESTRY,Agriculture & Natural Resources,0.013307
62,MASS MEDIA,Communications & Journalism,0.011169
63,HOSPITALITY MANAGEMENT,Business,0.012509
64,MISCELLANEOUS EDUCATION,Education,0.012414
65,INTERDISCIPLINARY SOCIAL SCIENCES,Social Science,0.009580
66,ECOLOGY,Biology & Life Science,0.009395
67,SECONDARY TEACHER EDUCATION,Education,0.009109
68,ART AND MUSIC EDUCATION,Education,0.009889
69,ELEMENTARY EDUCATION,Education,0.009534
70,PLANT SCIENCE AND AGRONOMY,Agriculture & Natural Resources,0.014833
71,SCIENCE AND COMPUTER TEACHER EDUCATION,Education,0.009101
72,PHYSICAL AND HEALTH EDUCATION TEACHING,Education,0.009180
73,ART HISTORY AND CRITICISM,Humanities & Liberal Arts,0.009700
74,ANIMAL SCIENCES,Agriculture & Natural Resources,0.011820
75,TEACHER EDUCATION: MULTIPLE LEVELS,Education,0.009832
76,HUMAN SERVICES AND COMMUNITY ORGANIZATION,Psychology & Social Work,0.009494
77,THEOLOGY AND RELIGIOUS VOCATIONS,Humanities & Liberal Arts,0.010263
78,STUDIO ARTS,Arts,0.010720
79,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,0.011132
80,MISCELLANEOUS AGRICULTURE,Agriculture & Natural Resources,0.016129
81,EARLY CHILDHOOD EDUCATION,Education,0.009098

In [89]:
con.close()